// Frontendlerin divilupır >> ibrahimmesutyilmaz.com
$min340    : "only screen and (max-width : 340px)";
$min       : "only screen and (max-width : 480px)";
$mobspecial: "only screen and (max-width : 600px)";
$mob640    : "only screen and (max-width : 640px)";
$mob       : "only screen and (max-width : 767px)";
$tablet    : "only screen and (min-width : 768px) and (max-width : 991px)";
$all       : "only screen and (max-width : 991px)";
$large     : "only screen and (min-width : 992px) and (max-width : 1199px)";
$xlarge    : "only screen and (min-width : 1200px) and (max-width : 1500px)";
$xxlarge   : "only screen and (min-width : 1500px) and (max-width : 1700px)";
$xspecial  : "only screen and (min-width : 1300px) and (max-width : 1400px)";
$xspecial2 : "only screen and (min-width : 1200px) and (max-width : 1300px)";
$mw1320    : "only screen and (max-width : 1320px)";
$mw1600    : "only screen and (max-width : 1600px)";
$alldesk   : "only screen and (min-width : 999px)";
$huge      : "only screen and (min-width : 1921px)";
$huge2     : "only screen and (min-width : 1921px) and (max-width : 2500px)";
$huge3     : "only screen and (min-width : 2501px) and (max-width : 3500px)";
$huge4     : "only screen and (min-width : 3501px) and (max-width : 4500px)";
$huge5     : "only screen and (min-width : 4501px)";
$h1080     : "only screen and (min-height : 900px) and (max-height : 1080px)";
$h680w1380 : "only screen and (min-width: 1200px) and (min-height: 580px) and (max-width: 1380px) and (max-height: 680px)";
$h768      : "only screen and (min-height : 600px) and (max-height : 768px)";
$h800      : "only screen and (min-width : 480px) and (max-height : 800px)";
$mh500     : "only screen and (max-height : 500px)";
$portrait  : "only screen and (orientation : portrait)";
$landscape : "only screen and (orientation : landscape)";
$min768    : "only screen and (min-width : 768px) and (max-width : 1080px)";



/*******************/
/* fonts  begin    */
/*******************/

$fo      : 'Roboto', sans-serif;

$containerPadding : 10px;
$rowMargin        : -#{$containerPadding};

/*******************/
/* fonts  end      */
/*******************/

/*******************/
/* keyframes begin */
/*******************/

/*******************/
/* keyframes end   */
/*******************/


