/* modal settings */
.fade{transition:opacity .15s linear}@media (prefers-reduced-motion:reduce){.fade{transition:none}}.fade:not(.show){opacity:0}.collapse:not(.show){display:none}.collapsing{position:relative;height:0;overflow:hidden;transition:height .35s ease}@media (prefers-reduced-motion:reduce){.collapsing{transition:none}}.modal-open{overflow:hidden}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal{position:fixed;top:0;left:0;z-index:1050;display:none;width:100%;height:100%;overflow:hidden;outline:0}.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none}.modal.fade .modal-dialog{transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out;-webkit-transform:translate(0,-50px);transform:translate(0,-50px)}@media (prefers-reduced-motion:reduce){.modal.fade .modal-dialog{transition:none}}.modal.show .modal-dialog{-webkit-transform:none;transform:none}.modal-dialog-scrollable{display:-ms-flexbox;display:flex;max-height:calc(100% - 1rem)}.modal-dialog-scrollable .modal-content{max-height:calc(100vh - 1rem);overflow:hidden}.modal-dialog-scrollable .modal-footer,.modal-dialog-scrollable .modal-header{-ms-flex-negative:0;flex-shrink:0}.modal-dialog-scrollable .modal-body{overflow-y:auto}.modal-dialog-centered{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;min-height:calc(100% - 1rem)}.modal-dialog-centered::before{display:block;height:calc(100vh - 1rem);content:""}.modal-dialog-centered.modal-dialog-scrollable{-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;height:100%}.modal-dialog-centered.modal-dialog-scrollable .modal-content{max-height:none}.modal-dialog-centered.modal-dialog-scrollable::before{content:none}.modal-content{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;width:100%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);border-radius:.3rem;outline:0}.modal-backdrop{position:fixed;top:0;left:0;z-index:1040;width:100vw;height:100vh;background-color:#000}.modal-backdrop.fade{opacity:0}.modal-backdrop.show{opacity:.9}.modal-header{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:justify;justify-content:space-between;padding:1rem 1rem;border-bottom:1px solid #dee2e6;border-top-left-radius:.3rem;border-top-right-radius:.3rem}.modal-header .close{padding:1rem 1rem;margin:-1rem -1rem -1rem auto}.modal-title{margin-bottom:0;line-height:1.5}.modal-body{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;padding:1rem}.modal-footer{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:end;justify-content:flex-end;padding:1rem;border-top:1px solid #dee2e6;border-bottom-right-radius:.3rem;border-bottom-left-radius:.3rem}.modal-footer>:not(:first-child){margin-left:.25rem}.modal-footer>:not(:last-child){margin-right:.25rem}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:576px){.modal-dialog{max-width:500px;margin:1.75rem auto}.modal-dialog-scrollable{max-height:calc(100% - 3.5rem)}.modal-dialog-scrollable .modal-content{max-height:calc(100vh - 3.5rem)}.modal-dialog-centered{min-height:calc(100% - 3.5rem)}.modal-dialog-centered::before{height:calc(100vh - 3.5rem)}.modal-sm{max-width:300px}}@media (min-width:992px){.modal-lg,.modal-xl{max-width:800px}}@media (min-width:1200px){.modal-xl{max-width:1140px}}
.kvkk-modal{
  .modal-dialog{ max-width: 840px; }
  .modal-content{ background: #DEDEDE; }
  .modal-header{ position: relative;  background: transparent; border-bottom: 0; 
    h5{ font-size: 30px; margin: 0; color: #4C5F66; }
    button{ background: transparent; border: none; cursor: pointer; font-size: 40px; line-height: 1; color: #4C5F66;
      span{ display: block; transform: translateY(-5px); }
    }
  }
  .modal-body{ padding: 20px; overflow-y: auto; overflow-x: hidden; max-height: 500px;
    h1{ font-size: 24px; line-height: 1.5; margin-bottom: 15px; color: #4C5F66; }
    p{ font-size: 18px; line-height: 1.5; margin-bottom: 15px; color: #4C5F66; }
    &::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #DEDEDE;
    }
    &::-webkit-scrollbar{
      width: 6px;
      background-color: #DEDEDE; 
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #CD5010; 
    }
  }
}/* kvkk modal */
.call-modal{
  .modal-dialog{ max-width: 840px; }
  .modal-content{ background: #DEDEDE; }
  .modal-header{ position: relative; padding: 40px 50px 0; background: transparent; border-bottom: 0; 
    h5{ font-size: 30px; margin: 0; color: #4C5F66; }
    button{ background: transparent; border: none; cursor: pointer; font-size: 40px; line-height: 1; color: #4C5F66;
      span{ display: block; transform: translateY(-5px); }
    }
  }
  .modal-body{ padding: 16px 50px 40px; overflow-y: auto; overflow-x: hidden; max-height: 500px;
    h1{ font-size: 24px; line-height: 1.5; margin-bottom: 15px; color: #4C5F66; }
    p{ font-size: 18px; line-height: 1.5; margin-bottom: 15px; color: #4C5F66; }
    
  .form{ width: 850px; max-width: 100%; margin: 0 auto; 
    .form-group{ position: relative; margin-bottom: 20px; position: relative;
      .icon{ color: #BD955B; position: absolute; left: 40px; top: 33px; transform: translate(-50%,-50%); 
        svg{ display: block; }
      }
      .icon-arrow{ position: absolute; right: 20px; top: 50%; transform: translateY(-50%); color: #BD955B; pointer-events: none; 
        svg{ display: block; transition: .4s; transform: rotateY(0); }
      }
      &:hover{
        .icon-arrow{
          svg{ transform: rotateY(180deg); }
        }
      }
      input,
      select,
      textarea{ border: 1px solid #707070; padding: 13px 15px 13px 80px; background: transparent; width: 100%; height: 66px; box-sizing: border-box; font-size: 18px; color: #4C5F66; font-weight: 300; 
        &::placeholder{ color: #4C5F66; }
      }
      select{ appearance: none; background: #DEDEDE; cursor: pointer; }
      textarea{ height: 142px; }
      
      &-checked{ position: relative; margin-bottom: 20px; 
        input{ position: absolute; left: 0; top: 0; width: 0; height: 0; opacity: 0; pointer-events: none; 
          &:checked~label{
            &:after{ opacity: 1; }
          }
        }
        label{ display: block; cursor: pointer; position: relative; padding: 10px 10px 10px 35px; font-size: 16px; color: #E1E1E1; 
          &:before{ content:""; position: absolute; border: 1px solid #CFCFCF; width: 19px; height: 19px; box-sizing: border-box; left: 0; top: 10px; }
          &:after{ content:""; position: absolute; width: 13px; height: 13px; box-sizing: border-box; left: 3px; top: 13px; opacity: 0; transition: .4s; background: #CFCFCF; }
          a{ color: #E1E1E1; text-decoration: underline; }
        }
      }
      &-button{ margin-bottom: 20px; display: flex; justify-content: flex-end;
        button{ cursor: pointer; background: #DEDEDE; border: 1px solid #CD5010; width: 190px; height: 40px; display: flex; align-items: center; justify-content: space-between; font-size: 16px; font-weight: 300; padding: 10px 20px; box-sizing: border-box; color: #4C5F66; transition: .4s; 
          span{}
          svg{ display: block; transform: translateX(0); }
          &:hover{ background: #CD5010; color: #fff;
          }
        }
      }
    }
  }
    &::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: rgb(25,25,25);
    }
    &::-webkit-scrollbar{
      width: 6px;
      background-color: rgb(0,0,0);
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #CD5010;
    }
  }
}/* call-modal */