@import 'function';
title{developer:flutter, front-end; }
web{ ibrahimmesutyilmaz:com; }
*{-webkit-tap-highlight-color: transparent;}
*,html,body,div,input,textarea,select,span,a,button,table,tr,td,th,ul,ol,li,button{ outline: none; outline-color: transparent; outline-width: 0; outline-style: none; outline-offset: initial; font-family: $fo; margin: 0; padding: 0; }
a,a:focus,a:hover,a:active,a:visited{ text-decoration: none; }
ul,ol,li{ list-style: none; list-style-type: none; }
