@media only screen and (max-width : 992px){
  .content{
    .card-program{ height: auto; 
      >.row{ height: auto; 
        .col{ height: auto; }
      }
      .left-card{ margin-bottom: 20px; }
      .center-card{ margin-bottom: 10px; }
      .right-card{ margin-bottom: 120px; height: auto; }
    }
    .card-box{ height: auto; margin-bottom: 20px; }
  }
}
@media only screen and (max-width : 767px){ /* (max-width : 767px) */

}/* (max-width : 767px) */

@media only screen and (max-width : 640px){ /* (max-width : 640px) */

} /* (max-width : 640px) */

@media only screen and (max-width : 600px){ /* (max-width : 600px) */
  
}/* (max-width : 600px) */


@media only screen and (min-width : 480px){
    .contant{
        .ufe-card-detail{
            .card-information{
                .card-credit{ flex: 0 0 200px; max-width: 200px; }
                .card-info{ flex: 0 0 calc(100% - 200px); max-width: calc(100% - 200px); }
            }
        }
    }
}

@media only screen and (min-width : 480px){ /* (min-width : 480px) */
    .content{ 
        .connect-content{ margin: 0 -20px; min-height: calc(100vh - 200px); 
          .order-box{  
            h3{ font-size: 26px; line-height: 1.25; }
            .order-no{ margin-bottom: 50px; 
              p{ font-size: 70px; line-height: 1; }
            }
            .order-amount{
              p{ font-size: 70px; line-height: 1; }
            }
          }
          .connect-lower{ 
            p{ font-size: 36px; }
          }
        }
      }/* content */
} /* (min-width : 480px) */
@media only screen and (max-width : 480px){ /* (max-width : 480px) */
    
    .img-date-area{ padding: 0 60px; 
        .img{ padding: 20px 30px; }
        .date{ font-size: 16px; }
    }/* img-date-area */
    .location-area{ padding: 80px 20px 50px;
        h2{ font-size: 5.5vw; }
        .form{
            .form-group{ padding: 10px; 
                input,
                select{ font-size: 18px; }
                &.registry-group{
                    input{ font-size: 18px; }
                }
            }
        }
        h3{ font-size: 5vw; }
        .list{
            ul{
                li{
                    a,
                    button{ font-size: 16px; padding: 10px 10px 10px 45px; 
                        span{ left: 10px; 
                            svg{ width: 30px; height: 30px; }
                        }
                    }
                }
            }
            &.flat-list{
              ul{
                li{
                  a{ padding: 10px; }
                }
              }
            }
        }
        .notes{
            p{ font-size: 6vw; }
        }
    }/* location-area */
    .header{
        .logo{
            a{ font-size: 22px; }
            .date{ font-size: 16px; }
        }
    }/* header */
    .content{
        .sales-list{
            ul{
                li{
                    a{ padding: 10px; 
                        .environment{ 
                            svg{ width: 30px; height: 30px; }
                        }
                        .identity-datetime{ padding-left: 40px; 
                            .num{ font-size: 16px; }
                            .datetime{ font-size: 12px; }
                        }
                        .piece-name{
                            .piece{ font-size: 16px; }
                            .name{ font-size: 12px; }
                        }
                        .credit{ padding-right: 40px; 
                            .price{ font-size: 16px; }
                            .text{ font-size: 12px; }
                        }
                        .detail{ 
                          svg{ width: 30px; height: 30px; }
                        }
                    }
                }
            }
        }/* sales-list */
        .order-detail{
            h1{ font-size: 24px; }
        }/* order-detail */
        .refund-form{
            h1{ font-size: 24px; }
        }/* refund-form */

        .card-program{
          .right-card{
            .last-load,.last-used{
              span{ font-size: 16px; }
            }
          }
        }
    }/* content */
    .modal{
        &#userModal{
            .modal-body{ padding: 20px; 
                .name{
                    h1{ font-size: 20px; }
                }
                .form{
                    .form-group{ margin-bottom: 20px; 
                        input{ padding: 10px 20px; height: 60px; font-size: 28px; }
                        button{ padding: 10px 20px; font-size: 20px; }
                    }
                }
            }
        }
    }
}/* (max-width : 480px) */

@media only screen and (max-width : 400px){ /* (max-width : 340px) */
    .side-menu{
        &-main{ padding: 0 5px 10px; }
        .list{
            ul{
                li{ flex: 0 0 calc(33.333% - 12px); max-width: calc(33.333% - 12px); margin: 6px;
                    a,button{ padding: 5px; border-radius: 15px; }
                }
            }
        }
    }
    .content{
        .box-list{ 
            .box{ flex: 0 0 calc(33% - (26px / 3)); max-width: calc(33% - (26px / 3)); margin: calc((26px / 3)/ 2); }
        }
    }
}/* (max-width : 340px) */

@media only screen and (max-width : 350px){ /* (max-width : 340px) */
    .side-menu{
        &-main{ padding: 0 5px 10px; }
        .list{
            ul{
                li{ flex: 0 0 calc(33.333% - 6px); max-width: calc(33.333% - 6px); margin: 3px;
                    a,button{ padding: 5px; border-radius: 10px; }
                }
            }
        }
    }
}/* (max-width : 340px) */
