@import "function";
/* bootstrap flex-settings */
@import "bootstrap.flex.setting";
/* bootstrap flex-settings */
.container{ width: 1630px; padding: 0 $containerPadding; margin: 0 auto; max-width: 100%; box-sizing: border-box;
    &-2{ @extend .container; width: 1440px; }
}
.head{ text-align: center; padding: 40px 0;  
    h1{ font-size: 36px; color: #272822; }
}
.container{ width: 1200px; }
.sidebar{ position: sticky; top: 20px; 
    a{ font-size: 16px; color: #272822; position: relative; transition: .4s; padding: 10px; 
        &:before{ content:""; position: absolute; left: 0; bottom: 0; height: 4px; width: 0; background: #272822; transition: .4s; }
        &.active,&:hover{ padding-left: 15px; color:#34495e;
            &:before{ width: 25%; }
        }
    }
}  
.article{
    .item{ margin-bottom: 80px; 
        h2{ font-size: 26px; margin-bottom: 10px; color: #272822; }
        p{ font-size: 16px; margin-bottom: 10px; color: #272822; }
        .file{ background: #272822; color: #fff; padding: 4px 10px; display: inline-block; position: relative; border-radius: .3em; transform: translate(50px, 20px); }
    }
}

@import "reset"; 
@import "prism"; 
@import "../plugins/bootstrap-scrollspy/bootstrap.scrollspy"; 