@charset "utf-8";
@import "bootstrap.button.min";
@import "reset";
/* bootstrap flex-settings */
@import "bootstrap.flex.setting";
button,button:focus{ outline: none; outline-width: 0; outline-color: transparent; }
/* bootstrap flex-settings */
.container{ width: 100%; padding: 0 $containerPadding; margin: 0 auto; max-width: 100%; box-sizing: border-box;
  &-2{ @extend .container; width: 1440px; }
}
.main{ text-align: center; padding: 10px 0 50px; }
.logo{ 
  h1,a{ display: block; text-align: center; font-size: 40px; color: #6F93C5; font-weight: 300; padding: 20px; }
  img-svg{ display: block; margin: 0 auto; max-width: 200px; }
}/* logo */
.img-date-area{ display: inline-block; padding: 0 40px;
  .img{ padding: 20px 100px; background: #E3EDFB; display: inline-block; border-radius: 20px 20px 0 0; 
    img{ display: block; margin: 0 auto; max-width: 100%; }
  }
  .date{ font-size: 24px; color: #26436B; }
}/* img-date-area */
.location-area{ background: #E3EDFB; padding: 80px 50px 50px; border-radius: 20px; max-width: 800px; margin: -50px auto 0;
  h2{ font-size: 32px; font-weight: 400; color: #6F93C5; border-bottom: 2px solid #6F93C5; padding: 10px 30px; margin-bottom: 30px; }
  h3{ font-size: 38px; font-weight: 400; color: #26436B; margin-bottom: 30px; }
  .form{
    .form-group{ background: #fff; box-shadow: 2px 2px 6px rgba(0,0,0,.16); border-radius: 20px; display: flex; align-items: center; justify-content: space-between; overflow: hidden; padding: 15px; 
      input,select{ font-size: 22px; border: none; background: #fff; height: 50px; flex: 0 0  100%; }
      select{ appearance: none; cursor: pointer;  }
      &.location-group{
        input{ font-size: 24px; }
      }
      &.registry-group{
        input{ font-size: 32px; }
      }
      button{ border: none; background: transparent; display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; cursor: pointer;
        svg{ display: block; max-width: 100%; } 
      }
    }
  }
  .list{ padding: 50px 0; 
    ul{ margin-bottom: 50px; 
      li{ margin-bottom: 15px; 
        a,button{ border: none; width: 100%; font-size: 28px; color: #fff; font-weight: 500; display: block; background: #6F93C5; padding: 20px 20px 20px 65px; border-radius: 20px; position: relative; box-sizing: border-box; 
          span{ position: absolute; left: 20px; top: 50%; transform: translateY(-50%); color: #26436B; 
            svg{ display: block; width: 40px; height: 40px; }
          }
        }
        &.active{
          a,button{ background: #0075FF; 
            span{ color: #fff; }
          }
        }
      }
    }
    &.flat-list{
      ul{
        li{
          a{ padding: 20px; }
        }
      }
    }
  }
  .notes{
    p{ font-size: 28px; color: #26436B; font-weight: 500; }
  }
}/* location-area */
.header{ position: fixed; left: 0; right: 0; top: 0; display: flex; align-items: center; padding: 10px 20px; justify-content: space-between; background: #fff; z-index: 63; 
  .menu{ color: #6F93C5; cursor: pointer; padding: 10px 20px; margin-left: -20px;
    svg{ display: block; width: 30px; height: 30px; }
  }
  .logo{
    a{ padding: 0; font-size: 32px; color: #6F93C5; font-weight: 300; line-height: 48px; }
    .date{ font-size: 22px; color: #26436B; line-height: 22px; }
  }
  .homepage{ margin-right: -20px;
    a{ display: block; color: #6F93C5; padding: 10px 20px; }
    svg{ display: block; width: 30px; height: 30px; }
  }
}/* header */
.side-menu{ position: fixed; left: 0; top: 0; padding-top: 90px; width: 0; max-width: 500px; background: #EFF4FA; overflow: hidden; height: 100vh; z-index: 61; transition: .4s; 
  &-overlay{ position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 60; pointer-events: none; opacity: 0; background: rgba(111,147,197,.54); transition: .4s; 
    &.open{ pointer-events: all; opacity: 1; }
  }
  &-main{ width: 100%; min-width: 280px; height: calc(100vh - 110px); overflow-x: auto; padding: 0 5px 30px; }
  &.open{ width: 90%; }
  .list{
    ul{ display: flex; flex-wrap: wrap; padding: 10px;
      li{ flex: 0 0 calc(33.333% - 20px); max-width: calc(33.333% - 20px); margin: 10px; 
        a,button{ border: none; display: block; padding: 15px 5px 5px; background: #fff; box-shadow: 0 0 6px rgba(0,0,0,.16); border-radius: 20px; 
          span{ display: block; padding: 10px 0; font-size: 12px; color: #26436B; font-weight: 500; box-sizing: border-box; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
            svg{ display: block; color: #6F93C5; width: 30px; height: 30px; }
            &.icon{ display: flex; align-items: center; justify-content: center; background: #EFF4FA; border-radius: 50px; width: 50px; height: 50px; margin: 0 auto; }
          } 
        }
        .exit{ background: #FF2B00; color: #fff; 
          span{ color: #fff; 
            svg{ color: #fff; width: 30px; height: 30px; margin: 0 auto; }
          }
        }
        .lock{ background: #6F93C5; color: #fff; 
          span{ color: #fff; 
            svg{ color: #fff; width: 30px; height: 30px; margin: 0 auto; }
          }
        }
      }
    }
  }
}/* side-menu*/
.content{ background: #EFF4FA; padding: 110px 20px 20px; margin: 0 -10px; height: calc(100vh - 60px); box-sizing: border-box;
  .box-list{ display: flex; flex-wrap: wrap; margin: 0 -10px;
    .box{ display: block; flex: 0 0 calc(33% - (38px / 3)); max-width: calc(33% - (38px / 3)); margin-bottom: 20px; padding: 5px; background: #fff; border-radius: 5px; box-shadow: 0 1px 4px rgba(111,147,197, .67); box-sizing: border-box; margin: calc((38px / 3)/ 2); 
      .name{ font-size: 12px; color: #26436B; font-weight: 500; text-align: left; padding-bottom: 5px; white-space: nowrap; width: 100%; text-overflow: ellipsis; overflow: hidden; }
      .time{ font-size: 12px; color: #6F93C5; text-align: left; margin-bottom: 10px; white-space: nowrap; width: 100%; text-overflow: ellipsis; overflow: hidden; }
      .price{ font-size: 20px; color: #0075FF; font-weight: 700; margin-bottom: 5px; white-space: nowrap; width: 100%; text-overflow: ellipsis; overflow: hidden;
        span{ font-weight: 300; display: inline-block; margin-right: -10px; }
      }
      .subname{ font-size: 14px; color: #6F93C5; white-space: nowrap; width: 100%; text-overflow: ellipsis; overflow: hidden; }
    } 
  }/* box-list */
  .card-program{ padding-bottom: 20px; height: 100%; box-sizing: border-box;
    >.row{ height: 100%; 
      >.col{ height: 100%; }
    }
    .left-card{ display: flex; align-items: center; justify-content: center; padding: 10px; height: 200px; background: #fefefe; border-radius: 15px; border: 1px solid rgb(238, 238, 238); 
      .seri-no{ padding: 10px; font-size: 36px; font-weight: 700; color: #868687; }
      .mac-no{ padding: 10px; font-size: 20px; color: #868687; }
    }
    .center-card{ display: flex; align-items: center; justify-content: center; position: relative; height: 200px; padding: 20px; background: #fefefe; border-radius: 15px; border: 1px solid rgb(238, 238, 238);
      .centered{ height: 100%; flex: 0 0 100%; max-width: 100%; display: flex; align-items: flex-end; }
      .card-type{ font-weight: 700; position: absolute; left: 10px; top: 10px; padding: 10px 15px; font-size: 16px; border-radius: 5px; color: #2c3e50; } 
      .status{ font-weight: 700; position: absolute; right: 10px; top: 10px; padding: 10px 15px; font-size: 16px; border-radius: 5px; color: #2c3e50;  
        &.open{ color: #bdc3c7; }
        &.active{ color: #2ecc71; }
        &.passive{ color: #c0392b; }
      }
      .card-no{ text-align: center; font-size: 40px; font-weight: 600; padding-bottom: 20px;  position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
      .balances{ flex: 0 0 100%; max-width: 100%; margin-bottom: -10px; display: flex; align-items: center; justify-content: space-between; 
        .physical-balance{ font-size: 34px; color: #26436B; font-weight: bold; }
        .system-balance{ font-size: 34px; color: #0FC600; font-weight: bold; }
      }
    }
    .right-card{ display: flex; align-items: flex-start; justify-content: center; padding: 10px; height: calc(50% - 10px); margin-bottom: 20px; overflow-y: auto; background: #fefefe; border-radius: 15px; border: 1px solid rgb(238, 238, 238);
      .centered{ flex: 0 0 100%; max-width: 100%; }
      .last-load,.last-used{ display: flex; align-items: center; justify-content: space-evenly; margin: 10px 0; 
        span{ display: block; padding: 10px; font-size: 20px; border-radius: 5px; margin: 0 5px;  }
        .card-active{ display: block; color: #27ae60; padding: 10px; 
          svg{ width: 24px; height: 24px; }
        }
        .card-cancel{ display: block; color: #c0392b; padding: 4px; 
          svg{ width: 30px; height: 30px; }
        }
        .date{ font-size: 16px; }
        .loc{ color: #3498db; }
        .price{ color: #31c971; font-size: 20px; font-weight: 700; }
        .process{
          &.spending{ color: #e67e22; }
          &.loading{ color: #2c3e50; }
          &.return{ color: #e74c3c; }
        }
        .return-link{ color: #95a5a6; display: block; padding: 5px; transition: .4s; 
          &:hover{ color: #6f7b7c; }
        }
        table{ width: 100%; 
          tr{
            th{ text-align: left; border-bottom: 1px solid #b9b9b9; }
            td{
              &:nth-child(1){ text-align: left; }
              &:nth-child(2){ text-align: left; }
            }
            &:nth-child(odd){
              td{ background: #f1f1f1; }
            }
          }
        }
      }
      .log-detail{ text-align: left;
        ul{
          li{ font-size: 18px; color: #2c3e50; padding: 10px;
            .yellow{ color: #f1c40f; }
            .blue{ color: #3498db; }
            .green{ color: #2ecc71; }
            .red{ color: #e74c3c; }
            .orange{ color: #f39c12; }
            &:nth-child(even){ background:#f1f1f1; }
          }
        }
      }
    }
  }//card-info
  .card-box{ display: flex; flex-wrap: wrap; justify-content: center; margin: 0 -10px; height: calc(100vh - 440px); overflow-y: auto; overflow-x: hidden;
    .card-box-process{ flex: 0 0 100%; max-width: 100%; position: relative; padding: 0 10px; box-sizing: border-box; 
      .item{ display: flex; align-items: center; justify-content: center; flex: 0 0 100%; min-height: 70px; max-width: 100%; margin-bottom: 10px; margin-top: 10px; padding: 5px; background: #fff; border-radius: 5px; box-shadow: 0 1px 4px rgba(111,147,197, .67); box-sizing: border-box; 
        .big-name{ width: 270px; font-size: 30px; font-weight: 600; color: #0075FF; display: flex; align-items: center;
          $width: 30px;
          $height: 3px;
          $triangle1: $width/4.15; 
          $triangle2: ($width/3) - 1;
          .circle{ display: block; margin-right: 20px; width: $width; height: $width; border-radius: $width; border: $height solid #27ae60; }
          .square{ display: block; margin-right: 20px; width: $width; height: $width; border: $height solid #2980b9; }
          .triangle{ position: relative; display: block; margin-right: 20px; width: $width; height: $width; border-bottom: $height solid #8e44ad;
            &:before{ content:""; width: $width; height: $height; background: #8e44ad; position: absolute; left: -$triangle1; bottom: $triangle2; transform: rotate(-60deg); } 
            &:after{ content:""; width: $width; height: $height; background: #8e44ad; position: absolute; left: $triangle1; bottom: $triangle2; transform: rotate(60deg);  }
          }
          .times{ position: relative; display: block; margin-right: 20px; width: $width; height: $width;
            &:before{ content:""; width: $width; height: $height; background: #c0392b; position: absolute; left: 0; top: 50%; transform: rotate(45deg); } 
            &:after{ content:""; width: $width; height: $height; background: #c0392b; position: absolute; left: 0; top: 50%; transform: rotate(-45deg); }
          }
        }
        &-1{
          .big-name{ color: #27ae60; }
          &.active~.item-content-1{ opacity: 1; pointer-events: all; transform: translateX(0); }
        }
        &-2{
          .big-name{ color: #2980b9; }
          &.active~.item-content-2{ opacity: 1; pointer-events: all; transform: translateX(0); }
        }
        &-3{
          .big-name{ color: #8e44ad; }
          &.active~.item-content-3{ opacity: 1; pointer-events: all; transform: translateX(0); }
        }
        &-4{
          .big-name{ color: #c0392b; }
          &.active~.item-content-4{ opacity: 1; pointer-events: all; transform: translateX(0); }
        }
      }
      .item-content{ width: 100%; box-sizing: border-box;
        ul{ 
          li{ margin-bottom: 8px;
            a{ display: flex; box-shadow: 0 0 10px #00000000; justify-content: space-between; align-items: center; padding: 10px 15px; font-size: 30px; color: #fff; background: #2980b9; border: 1px solid #2980b9; border-radius: 5px; transition: .4s;
              span{ font-weight: 700; border-radius: 3px; margin-left: 3px; color: #fff; padding: 3px 10px; }
              &:focus{ box-shadow: 0 0 10px #000000; }
            }
            .special{ display: flex; 
              input{ flex: 0 0 50%; max-width: 50%; font-size: 30px; border: 1px solid #26436B; border-radius: 5px 0 0 5px; padding: 5px 10px; box-sizing: border-box; 
                &::placeholder{ font-size: 20px; }
              }
              a{ flex: 0 0 50%; max-width: 50%; border-radius: 0 5px 5px 0; justify-content: flex-end;}
            }
          }
        }
        &-1{
          ul{
            li{
              a{ background: #27ae60; border-color: #27ae60; transition: .4s; 
                &:hover{ background: #1f9751; border-color: #1f9751; }
              }
            }
          }
        }
        &-2{
          ul{
            li{
              a{ background: #2980b9; border-color: #2980b9; transition: .4s; 
                &:hover{ background: #1b5f8d; border-color: #1b5f8d; }
              }
            }
          }
        }
      }
    }
  }//card-box
  .sales-list{ margin: 0 -20px; padding: 0 10px 50px; background: #EFF4FA; 
    ul{
      li{ margin-bottom: 10px; 
        a{ display: flex; align-items: center; justify-content: space-between; background: #fff; border-radius: 10px; box-shadow: 0 2px 5px rgba(111,147,197, .67); padding: 10px 15px;
          .environment{ color: #6F93C5; transition: .4s; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
            svg{ display: block; width: 40px; height: 40px; }
          }
          .identity-datetime{ padding-left: 60px; position: relative; text-align: left;
            .num{ font-size: 22px; color: #26436B; font-weight: 500; transition: .4s; }
            .datetime{ font-size: 14px; color: #6F93C5; }
          }
          .piece-name{
            .piece{ font-size: 20px; color: #6F93C5; }
            .name{ font-size: 16px; color: #6F93C5; }
          }
          .credit{ padding-right: 60px; position: relative; text-align: right;
            .price{ font-size: 22px; color: #0075FF; font-weight: 700; transition: .4s;  
              span{ font-size: 16px; font-weight: 500; }
            }
            .text{ font-size: 16px; color: #6F93C5; }
          }
          .detail{ color: #0075FF; transition: .4s; position: absolute; right: 0; top: 50%; transform: translateY(-50%);
            svg{ display: block; width: 40px; height: 40px; }
          }
        }
        &.ilk-kayit{
          .identity-datetime{
            .num{ color: #7f8c8d; }
          }
          .credit{
            .price{ color: #7f8c8d; }
          }
        }
        &.islemde{
          .identity-datetime{
            .num{ color: #9b59b6; }
          }
          .credit{
            .price{ color: #9b59b6; }
          }
        }
        &.tamamlandi{
          .identity-datetime{
            .num{ color: #3498db; }
          }
          .credit{
            .price{ color: #3498db; }
          }
        }
        &.iptal-edildi{
          .identity-datetime{
            .num{ color: #e74c3c; }
          }
          .credit{
            .price{ color: #e74c3c; }
          }
        }
        &.kapatildi{
          .identity-datetime{
            .num{ color: #e1e1e1; }
          }
          .credit{
            .price{ color: #e1e1e1; }
          }
        }
        &.active,&:hover{
          .identity-datetime{
            .num{ color: #34495e; }
          }
          .credit{
            .price{ color: #34495e; }
          }
        }
      }
    }
  }/* sales-list */
  .location-content{ padding: 5px; 
    p{ font-size: 22px; color: #26436B; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
    .loc-set{ display: flex; align-items: center; padding: 20px 30px; justify-content: space-between;
      .time-set{
        .upper{ font-size: 26px; color: #6F93C5; font-weight: 300; }
        .lower{ font-size: 26px; color: #0075FF; font-weight: 500; }
      }
      .loc-icon{
        a{ display: block; color: #0075FF; 
          svg{ display: block; width: 90px; height: 90px; }
        }
      }
    }
    h2{ font-size: 24px; color: #26436B; font-weight: 400; }
  }/* location-content */
  .connect-content{ margin: -20px -20px 0; min-height: calc(100vh - 100px); text-align: center; position: relative; box-sizing: border-box; background: #EFF4FA; border-radius: 0; padding-bottom: 1px;  display: flex; align-items: center; justify-content: center;
    .back-repeat{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 50px; 
      .back{
        button{ border: none; background: transparent; display: block; cursor: pointer; color: #FF2B00;
          svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
          span{ display: block; font-size: 12px; color: #6F93C5; }
        }
      }
      .repeat{
        button{ border: none; background: transparent; display: block; cursor: pointer; color: #0075FF; 
          svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
          span{ display: block; font-size: 12px; color: #6F93C5; }
        }
      }
    }
    .order-box{ display: flex; align-items: center; border-radius: 10px; width: 90%; min-width: calc(320px - 2rem); margin: 0 auto; min-height: 420px; 
      .centered{ flex: 0 0 100%; max-width: 100%; }
      h3{ font-size: 4.5vw; color: #6F93C5; font-weight: 400; }
      .order-no{
        p{ font-size: 10vw; color: #26436B; font-weight: 700; }
      }
      .order-amount{ margin-bottom: 40px; 
        p{ font-size: 10vw; color: #0075FF; font-weight: 700; 
          span{ display: inline-block; padding-left: 10px; }
        }
      }
      .order-icon{ display: flex; justify-content: center; align-items: center;
        svg{ display: block; width: 150px; height: 150px; margin: 0 auto; max-width: 100%; }
        .icon{ max-width: calc(50% - 10px); padding: 20px 0; 
          &-1{ color: #6F93C5; }
          &-2{ display: block; color: #1AC5CC; position: relative; padding-left: 30px; margin-left: 30px; 
            &:before{ content:""; position: absolute; left: 0; top: 0; bottom: 0; width: 6px; border-radius: 6px; background: #26436B;}
            svg{ width: 120px; height: 150px; }
          }
        }
      }
    }
    .connect-lower{ padding: 50px 10px 20px; margin-bottom: 50px;
      p{ font-size: 5.5vw; color: #26436B; font-weight: 500; margin-bottom: 0; }
    }
  }/* connect-content */
  .order-detail{ background: #EFF4FA; margin: 0 -20px; padding: 20px 20px 100px;
    h1{ font-size: 28px; font-weight: 500; color: #6F93C5; padding: 10px 30px; }
    ul{ margin-bottom: 40px;
      li{ display: flex; justify-content: space-between; font-size: 18px; font-weight: 500; color: #0075FF; 
        span{ display: block; padding: 5px;         
          &:nth-child(1){ font-size: 16px; color: #6793c8; }
        }
        &:nth-child(even){ background: #EFF4FA; }
        &:nth-child(odd){ background: #ffffff; }
      }
    }
    .table-responsive{ width: 100%; overflow-x: auto; margin-bottom: 40px; 
      table{ width: 100%; padding: 0; margin: 0; 
        tr{
          th,
          td{ font-weight: 500; color: #26436B; padding: 10px;  font-size: 14px; 
            &:nth-child(1){ text-align: left; } 
            &:nth-last-child(1){ text-align: right; }
          }
          th{ font-size: 16px; color: #6793c8; }
          &:nth-child(even){
            th,td{  background: #EFF4FA; }
          }
          &:nth-child(odd){ 
            th,td{  background: #ffffff; } }
        }
      }
    }
    .img{ width: 200px; height: 200px; border-radius: 200px; overflow: hidden; margin: 0 auto 20px; border: 6px solid #ffffff;
      img{ display: block; width: 100%; height: 100%; object-fit: cover; }
      &.img-on{ border-color: #4caf50; }
      &.img-off{ border-color: #9e9e9e; }
      &.img-wait{ border-color: #ff9800; }
      &.min-width{ width: 100px; height: 100px; }
    }
  }/* order-detail */
  .refund-form{ background: #EFF4FA; margin: 0 -20px; padding: 20px 20px 100px;
    .steps{ position: relative;
      h1{ font-size: 28px; font-weight: 500; color: #6F93C5; padding: 10px 30px; }
      .step{ position: absolute; opacity: 0; pointer-events: none; transition: .4s; width: 100%; transform: translateY(-50%); 
        .form{ margin: 0 auto; width: 100%; max-width: 500px; 
          .form-group{ margin-bottom: 20px; 
            h3{ font-size: 18px; font-weight: 500; color: #26436B; padding: 10px 30px;
              span{ font-size: 22px; display: block; }
            }
            label{ display: block; padding: 0 15px; text-align: left; font-size: 16px; color: #26436B; }
            input,
            textarea{ background: #fff; border: none; width: 100%; padding: 10px 15px; box-sizing: border-box; font-size: 16px; color: #26436B; border-radius: 5px; }
            textarea{ height: 140px; }
            select{ max-width: 100%; background: #fff; border: none; width: 100%; padding: 10px 15px; box-sizing: border-box; font-size: 16px; color: #26436B; border-radius: 5px; }
            button{ background: #26436B; border: 1px solid #26436B; color: #fff; font-weight: 500; padding: 10px 30px; width: 100%; box-sizing: border-box; transition: .4s; border-radius: 5px; 
              &:hover{ background: #fff; color: #26436B; }
            }
            .phone-number{ display: flex; align-items: center; 
              &-prefix{ padding: 0 10px 0 0; }
            }
          }
        }
        .form-result{ background: #fff; padding: 50px; width: 500px; max-width: 100%; margin: 0 auto; 
          h2{ font-size: 22px; font-weight: 500; color: #26436B; padding: 10px 30px; }
          p{ font-size: 16px; color: #26436B; margin-bottom: 10px; }
        }
        &-1{}
        &-2{
          .form{
            .form-group{
              input{ font-size: 28px; font-weight: 500; text-align: center;  }
            }
            .suc-group.disable{ cursor: no-drop;
              button{ background: #000; opacity: .25; pointer-events: none; }
            }
          }
          a{ display: block; margin-top: 50px; color: #26436B; }
        }
        &-3{}
        &.active{ position: relative; opacity: 1; pointer-events: all; transform: translateX(0); }
      }
    }
  }/* refund-form */
  .card-transactions{ background: #EFF4FA; margin: 0 -20px; padding: 0px 20px 100px;
    .list{ margin: -20px -20px 10px; 
      ul{ display: flex; flex-wrap: wrap; padding: 10px;
        li{ flex: 0 0 calc(33.333% - 20px); max-width: calc(33.333% - 20px); margin: 10px; 
          a,button{ border: none; display: block; padding: 15px 5px 5px; background: #fff; box-shadow: 0 0 6px rgba(0,0,0,.16); border-radius: 20px; 
            span{ display: block; padding: 10px 0; font-size: 12px; color: #26436B; font-weight: 500; box-sizing: border-box; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
              svg{ display: block; color: #6F93C5; width: 20px; height: 20px; }
              &.icon{ display: flex; align-items: center; justify-content: center; background: #EFF4FA; border-radius: 50px; width: 50px; height: 50px; margin: 0 auto; }
            }
          }
          .exit{ background: #FF2B00; color: #fff; 
            span{ color: #fff; 
              svg{ color: #fff; width: 30px; height: 30px; margin: 0 auto; }
            }
          }
          .lock{ background: #6F93C5; color: #fff; 
            span{ color: #fff; 
              svg{ color: #fff; width: 30px; height: 30px; margin: 0 auto; }
            }
          }
        }
      }
    }
    .head-date{ display: flex; align-items: center; justify-content: center; margin-left: -10px; margin-right: -10px; margin-bottom: 20px; 
      a{ display: block; padding: 10px 30px; color: #14bae4; background: #fff; border-radius: 5px; box-shadow: 0 0 3px rgba(0,0,0,.16); margin: 0 10px; }
      .yesterday{}
      .today{}
      .tomorrow{}
    }
    .head{ display: flex; align-items: center; justify-content: space-between; background: #fff; margin-bottom: 20px; 
      h1{ font-size: 20px; color: #6F93C5; font-weight: 500; padding: 3px 10px; margin-bottom: 0; }
      .btn-set{ display: flex; align-items: center; 
        .btn{ display: block; padding: 10px; color: #6F93C5;
          svg{ width: 20px; height: 20px; display: block; }
          &.btn-plus{ color: limegreen; 
            &.btn-plus-bg{ background: #4caf50; color: #fff; }
          }
        }
      }
    }
    .sub-head{ display: flex; align-items: center; justify-content: space-between; padding: 0 10px;
      p{ font-size: 14px; }
    }
    .form{ max-width: 600px; background: #fff; width: 100%; box-sizing: border-box; padding: 30px 40px; margin: 0 auto; text-align: left; 
      .form-group{ margin-bottom: 20px; 
        .row{ align-items: center; }
        label{}
        input,
        select{ width: 100%; height: 40px; padding: 10px; box-sizing: border-box; border: none; border-radius: 4px; background: #EFF4FA; font-size: 16px; }
        input{ text-align: right; color: #6F93C5; 
          &::placeholder{ font-size: 20px; color: #6F93C5; }
          &[type="date"],&[type="time"]{ text-align: left; }
        }
        select{ cursor: pointer; }
        textarea{ width: 100%; height: 100px; padding: 10px; box-sizing: border-box; border: none; border-radius: 4px; background: #EFF4FA; font-size: 16px; }
      }
      .checkbox-group{ display: flex; align-items: center;
        input{ display: block; width: 20px; height: 20px; margin-right: 20px; }
        span{ display: block; padding: 5px; }
        label{ display: flex; align-items: center; cursor: pointer; }
      }
      .form-group-btn{
        button{ display: block; background: darkcyan; color: #fff; padding: 10px 15px; border-radius: 5px; border: none; font-size: 14px; font-weight: 500; width: 100%; box-sizing: border-box; }
      }
    }
    .daily-end-adverb-form{ background: #fff; padding: 20px 10px; 
      .col{ display: flex; align-items: center; }
      input{ height: 40px; padding: 6px 0; background: #fff; font-size: 14px; }
      button{ border: none; background: #4caf50; box-sizing: border-box; font-size: 14px; color: #fff; height: 40px; padding: 10px 20px; }
    }
    .daily-end-close-form{ background: #fff; padding: 20px 10px;
      .form-group{ margin-bottom: 20px; 
        label{ display: block; text-align: left; }
        select{ width: 100%; height: 40px; padding: 10px; box-sizing: border-box; border: none; border-radius: 4px; background: #EFF4FA; font-size: 16px; }
        >label{}
        textarea{ width: 100%; height: 100px; padding: 10px; box-sizing: border-box; border: none; border-radius: 4px; background: #EFF4FA; font-size: 16px; }
        button{ display: block; background: darkcyan; color: #fff; padding: 10px 15px; border-radius: 5px; border: none; font-size: 14px; font-weight: 500; width: 100%; box-sizing: border-box; }
      }
    }
    .currency-exchange-information{ display: flex; align-items: center; justify-content: flex-end; padding: 0 10px; margin-bottom: 20px; 
      .cei{ font-size: 14px; color: #000; padding-left: 20px; }
      .dolar{ b{color: #85bb65; }}
      .euro{ b{color: #5D7EA7; }}
    }
    .table-responsive{ width: 100%; overflow-x: auto; }
    table.general-table{ background: #fff; width: 100%; margin-bottom: 20px;
      tr{
        th{ background: #f6faff; padding: 8px; font-weight: 500; font-size: 16px; color: #34495e;
          &:nth-child(1){ text-align: left; }
        }
        td{ padding: 8px; font-size: 14px; color: #26436B;
          &:nth-child(1){ text-align: right; }
          &:nth-last-child(2){ text-align: right; }
          &:nth-last-child(1){ text-align: left; }
        }
        &+tr{
          td{ background: #eff6ff;
            &:nth-child(1){}
            &:nth-child(2){ background: #fff; }
            &:nth-child(3){}
            &:nth-child(4){ background: #fff; }
          }
        }
        &+tr+tr{
          td{ border-top: 1px solid #deeeff; }
        }
      }
    }
    table.daily-summary{ width: 100%; margin-bottom: 30px; 
      tr{
        th{ text-align: right; font-size: 14px; font-weight: 700; color: #26436B; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
        }
        td{ text-align: right; font-size: 14px; font-weight: 400; color: #000; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
          &.bg-default{ background: #EFF4FA; }
          &.color-red{ color: #f54394; }
          &.color-cash{ color: #14bae4; }
          &.bg-cash{ background: #bdecf7; }
          &.color-credit{ color: #f4c414; }
          &.bg-credit{ background: #fceebd; }
          &.bg-total{ background: #448bff; color: #fff; border: none; }
        }
        &+tr{
          td,th{ border-top: 1px solid #dddedf; }
        }
      }
    }
    table.calendar-overtime{ width: 100%; margin-bottom: 30px; 
      tr{
        th{ text-align: center; font-size: 14px; font-weight: 500; color: #26436B; padding: 10px 8px; background: #fff; 
        }
        td{ text-align: center; font-size: 14px; font-weight: 500; color: #000; padding: 10px 8px; background: #fff; 
          &.bg-default{ background: #EFF4FA; }
          &.color-green{ color: #31c971; }
          &.color-cash{ color: #14bae4; }
          &.bg-cash{ background: #bdecf7; }
          &.color-credit{ color: #f4c414; }
          &.bg-credit{ background: #fceebd; }
          &.bg-total{ background: #448bff; color: #fff; border: none; }
        }
        &+tr{
          td,th{ border-top: 1px solid #dddedf; }
        }
      }
    }
    table.shift-deserve{ width: 100%; margin-bottom: 30px;
      tr{
        th{ text-align: right; font-size: 14px; font-weight: 500; color: #26436B; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
        }
        td{ text-align: right; font-size: 14px; font-weight: 700; color: #000; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; font-weight: 400; background: #EFF4FA; }
          &:nth-child(2){ text-align: left; }
          &.bg-default{ background: #EFF4FA; }
          &.color-green{ color: #31c971; }
          &.color-cash{ color: #14bae4; }
          &.bg-cash{ background: #bdecf7; }
          &.color-credit{ color: #f4c414; }
          &.bg-credit{ background: #fceebd; }
          &.bg-total{ background: #448bff; color: #fff; border: none; }
        }
        &+tr{
          td,th{ border-top: 1px solid #dddedf; }
        }
      }
    }
    table.tickets-sales-cash{ width: 100%; margin-bottom: 30px;
      tr{
        th{ text-align: right; font-size: 14px; font-weight: 700; color: #26436B; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
        }
        td{ text-align: right; font-size: 14px; font-weight: 400; color: #000; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
          &.bg-default{ background: #EFF4FA; }
          &.color-red{ color: #f54394; }
          &.color-cash{ color: #14bae4; }
          &.bg-cash{ background: #bdecf7; }
          &.font-bold{ font-weight: 700; }
          &.color-credit{ color: #f4c414; }
          &.bg-credit{ background: #fceebd; }
          &.bg-total{ background: #448bff; color: #fff; border: none; }
        }
        &:nth-child(1){
          td{
            &:nth-child(3){ text-align: center; }
            &:nth-child(4){ text-align: center; }
          }
        }
        &+tr{
          td,th{ border-top: 1px solid #dddedf; }
        }
      }
    }
    table.tickets-sales-credit{ width: 100%; margin-bottom: 30px;
      tr{
        th{ text-align: right; font-size: 14px; font-weight: 700; color: #26436B; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
        }
        td{ text-align: right; font-size: 14px; font-weight: 400; color: #000; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
          &.bg-default{ background: #EFF4FA; }
          &.color-red{ color: #f54394; }
          &.color-cash{ color: #14bae4; }
          &.font-bold{ font-weight: 700; }
          &.bg-cash{ background: #bdecf7; }
          &.color-credit{ color: #f4c414; }
          &.bg-credit{ background: #fceebd; }
          &.bg-total{ background: #448bff; color: #fff; border: none; }
        }
        &:nth-child(1){
          td{
            &:nth-child(3){ text-align: center; }
            &:nth-child(4){ text-align: center; }
          }
        }
        &+tr{
          td,th{ border-top: 1px solid #dddedf; }
        }
      }
    }
    table.tickets-sales-total{ width: 100%; margin-bottom: 30px;
      tr{
        th{ text-align: center; font-size: 14px; font-weight: 700; color: #26436B; padding: 10px 8px; background: #fff; }
        td{ text-align: center; font-size: 14px; font-weight: 700; color: #000; padding: 10px 8px; background: #fff; 
          &.bg-default{ background: #EFF4FA; }
          &.color-red{ color: #f54394; }
          &.color-cash{ color: #14bae4; }
          &.bg-cash{ background: #bdecf7; }
          &.color-credit{ color: #f4c414; }
          &.bg-credit{ background: #fceebd; }
          &.bg-total{ background: #448bff; color: #fff; border: none; }
        }
        &+tr{
          td,th{ border-top: 1px solid #dddedf; }
        }
      }
    }
    table.z-report{ width: 100%; margin-bottom: 30px;
      tr{
        th{ text-align: right; font-size: 14px; font-weight: 700; color: #26436B; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
        }
        td{ text-align: right; font-size: 14px; font-weight: 400; color: #000; padding: 10px 8px; background: #fff; 
          a{ color: #448bff; display: block; padding: 4px; }
          &:nth-child(1){ text-align: left; }
          &.bg-default{ background: #EFF4FA; }
          &.color-red{ color: #f54394; }
          &.color-cash{ color: #14bae4; }
          &.bg-cash{ background: #bdecf7; }
          &.color-credit{ color: #f4c414; }
          &.bg-credit{ background: #fceebd; }
          &.bg-total{ background: #448bff; color: #fff; border: none; }
        }
        &+tr{
          td,th{ border-top: 1px solid #dddedf; }
        }
      }
    }
    table.daily-end-adverb{ width: 100%; margin-bottom: 30px;
      tr{
        th{ text-align: right; font-size: 14px; font-weight: 700; color: #26436B; padding: 10px 8px; background: #fff; 
          &:nth-child(1){ text-align: left; }
        }
        td{ text-align: right; font-size: 14px; font-weight: 400; color: #000; padding: 10px 8px; background: #fff; 
          a{ color: #448bff; display: block; padding: 4px; }
          &:nth-child(1){ text-align: left; }
          &.bg-default{ background: #EFF4FA; }
          &.color-red{ color: #f54394; }
          &.color-cash{ color: #14bae4; }
          &.bg-cash{ background: #bdecf7; }
          &.color-credit{ color: #f4c414; }
          &.bg-credit{ background: #fceebd; }
          &.bg-total{ background: #448bff; color: #fff; border: none; }
        }
        &+tr{
          td,th{ border-top: 1px solid #dddedf; }
        }
      }
    }
  }//card-transactions 
  .ufe-card-detail{ max-height: calc(100vh - 120px); overflow-y: auto; background: #EFF4FA; box-sizing: border-box; padding-bottom: 120px; 
    .btn-set{ margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between;
      button{ flex: 1 1 0; max-width: calc(50% - 10px); display: flex; align-items: center; justify-content: center; border: none;  border-radius: 5px; box-shadow: 3px 3px 6px rgba(0,0,0,.16); padding: 20px 10px; 
        svg{ display: block; max-width: 100%; width: 40px; height: 40px;  
          path,rect{ fill: #fff; }
        }
      }
      .btn-1{ background: #1AC5CC; }
      .btn-2{ background: #FF2B00; }
    }
    .code-area{ margin-bottom: 30px; padding: 0 5px;
      input{ height: 60px; width: 100%; box-sizing: border-box; text-align: center; border: none; background: #FFFFFF; border-radius: 10px; font-size: 24px; font-weight: 700; color: #26436B; box-shadow: 2px 2px 6px rgba(0,0,0,.16); padding: 10px; }
    }
    .informations{
      .name{ display: flex; justify-content: space-between; align-items: center;
        p{ font-size: 20px; color: #6F93C5; margin-bottom: 10px; 
          b{ color: #26436B; }
        }
        &-2{
          p{ font-weight:700; 
            b{ color: #1AC5CC; }
          }
        }
      }
      .card-no{ display: flex; justify-content: space-between; align-items: center;
        p{ font-size: 20px; color: #6F93C5; margin-bottom: 10px;
          b{ color: #26436B; }
        }
        &-2{
          p{ font-weight: 700; }
        }
      }
      .list{
        table{ width: 100%; 
          tr{
            td{ padding: 5px; font-size: 20px; color: #6F93C5; text-align: left; 
              &:nth-child(2){ font-weight: bold; text-align: right; }
              b{ color: #26436B; }
              .input-c{ background: #fff; max-width: 100px; border: none; border-radius: 6px; font-size: 20px; font-weight: 700; box-sizing: border-box; width: 100%; height: 30px; color: #26436B; position: relative; z-index: 5; padding: 0 10px; text-align: right; }
            }
          }
        }
        .table-1{ border-bottom: 1px solid #CCE1FE; 
          tr{
            td{ border-top: 1px solid #CCE1FE; }
          }
        }
        .table-2{ margin-bottom: 20px; 
          tr{
            td{ position: relative; 
              span,b{ position: relative; }
              &.white{  
                &:before{ content:""; position: absolute; left: 0; top: 5px; right: 0; bottom: 5px; background: #fff; }
              }
            }
          }
        }
      }
      .button-list{ display: flex; flex-wrap: wrap; justify-content: center; 
        button{ border: none; border-radius: 10px; display: flex; align-items: center; flex-wrap: wrap; text-align: center; flex: 0 0 calc(33.333% - 10px); max-width: calc(33.333% - 10px); margin: 5px; font-size: 14px; padding: 10px 5px; box-sizing: border-box;  color: #fff; box-shadow: 3px 3px 6px rgba(0,0,0,.16);
          span{ flex: 0 0 100%; display: flex; justify-content: center; }
          .up{ color: #26436B; font-weight: bold; }
          .cen{
            svg{ display: block; }
          }
          .bot{ font-weight: 700; }
          .c{ color: #1AC5CC; align-items: center; justify-content: space-between; padding: 30px 0px 0; box-sizing: border-box; 
            .big{ flex: 0 0 auto; font-size: 26px; letter-spacing: -2px; line-height: 1; display: block; text-align: left; padding-right: 10px;
              span{ display: block;  }
            }
            .small{ font-size: 13px; text-align: right; letter-spacing: 0; }
            .medium{ text-align: right; font-size: 18px; letter-spacing: -1px; display: block; white-space: nowrap; }
          }
        }
        .btn-new-card{  background: #0FC600;  
          .up{ opacity: .7;  color: #fff; }
          .cen{
            svg{}
          }
          .bot{}
        }
        .btn-detail,
        .btn-credit-upload{ background: #1AC5CC; }
        .btn-ready-credit{ background: #fff; }
      }
      .credit-btn{ display: flex; justify-content: flex-end; align-items: center; 
        button{ font-size: 16px; padding: 5px 20px;  color: #fff; border: none; cursor: pointer; display: block; border-radius: 10px; }
        .credit-upload{ background: #1AC5CC; }
        .credit-use{ background: #0075FF; margin-left: 20px; }
      }
    }
    .card-information{ display: flex; flex-wrap: wrap; padding-bottom: 40px; 
      .card-credit{flex: 0 0 calc(35% - 10px); max-width: calc(35% - 10px);
        button{ border: none; border-radius: 10px; display: flex; align-items: center; flex-wrap: wrap; text-align: center;  margin: 5px; font-size: 12px; padding: 10px 5px; box-sizing: border-box;  color: #fff;box-shadow: 3px 3px 6px rgba(0,0,0,.16);
          span{ flex: 0 0 100%; display: flex; justify-content: center; }
          .up{ color: #26436B; font-weight: normal; }
          .cen{
            svg{ display: block; width: 40px; height: 40px; }
          }
          .bot{ font-weight: 400; }
          .c{ color: #1AC5CC; align-items: center; justify-content: space-between; padding: 30px 0px 0; box-sizing: border-box; 
            .big{ flex: 0 0 auto; font-size: 26px; letter-spacing: -2px; line-height: 1; display: block; text-align: left; padding-right: 10px;
              span{ display: block;  }
            }
            .small{ font-size: 13px; text-align: right; }
            .medium{ text-align: right; font-size: 18px; letter-spacing: -1px; display: block; white-space: nowrap; }
          }
        }
        .btn-detail,
        .btn-credit-upload{ background: #1AC5CC; }
        .balance{ text-align: right; font-weight: 700; color: #26436B; font-size: 20px; padding: 5px 0; }
      }
      .card-info{ flex: 0 0 calc(65% - 10px); max-width: calc(65% - 10px); text-align: right;
        .card-no{ font-size: 18px; letter-spacing: -1px; line-height: 1.5; color: #1AC5CC; font-weight: 700; }
        .card-name{ font-size: 18px; letter-spacing: -1px; line-height: 1.5; color: #6F93C5; font-weight: 700; }
        .card-phone{ font-size: 18px; letter-spacing: -1px; line-height: 1.5; color: #6F93C5; font-weight: 700; }
      }
    }
    .card-back-log{ padding: 0 0 30px 0; 
      .table{ width: 100%; 
        tr{
          td{ font-size: 14px; color: #6F93C5; padding: 10px; 
            b{ color: #26436B; font-size: 16px; }
            &:nth-child(1){ text-align: left; }
            &:nth-child(2){text-align: center; }
            &:nth-child(3){ text-align: right; }
          }
          &+tr{
            td{ border-top: 1px solid #CCE1FE; }
          }
        }
      }
    }
    .net-balance{ padding: 30px 0; 
      .table{ width: 100%; 
        tr{
          td{ font-size: 18px; color: #6F93C5; padding: 10px; 
            b{ color: #26436B; }
            &:nth-child(1){ text-align: left; }
            &:nth-child(2){ text-align: right; }
          }
          &+tr{
            td{ border-top: 1px solid #CCE1FE; }
          }
        }
      }
    }
    .uploaded-credi{ display: flex; align-items: center; padding: 40px 0; 
      p{ color: #6F93C5; font-size: 16px; flex: 0 0 auto; margin-bottom: 0; }
      input{ flex: 0 0 calc(100% - 195px); max-width: calc(100% - 215px); box-sizing: border-box; padding: 15px; height: 50px; background: #fff; border: none; border-radius: 10px; font-size: 22px; font-weight: bold; color: #26436B; margin: 0 10px; box-shadow: 3px 3px 6px rgba(0,0,0,.16); text-align: right;
        &::placeholder{ color: #26436B; opacity: 1; }
      }
      button{ color: #fff; border: none; border-radius: 10px; background: #1AC5CC; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; text-align: center; box-shadow: 3px 3px 6px rgba(0,0,0,.16);}
    }
  }//ufe-card-detail
  .new-card-detail{max-height: calc(100vh - 120px); overflow-y: auto; background: #EFF4FA; box-sizing: border-box; padding-bottom: 120px;
    h1{ font-size: 24px; font-weight: bold; text-align: left; color: #26436B; margin-bottom: 50px; }
    .table{ position: relative; z-index: 10; text-align: left; width: 100%; 
      tr{
        td{ position: relative; padding: 10px 15px; font-size: 16px; color: #6F93C5; 
          &.white{ font-weight: 700; color: #26436B; 
            &:before{ content:""; border-radius: 6px; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; background: #fff; z-index: -1; }
          }
          .checkbox-label{ position: relative; padding-left: 30px;line-height: 1.5; color: #1AC5CC; 
            &:before{ content:""; position: absolute; left: 0; top: 1px; width: 20px; height: 20px; background: #fff; border-radius: 4px; }
            &:after{ content:""; position: absolute; transition: .4s; left: 4px; top: 5px; width:12px; height: 12px; background: #1AC5CC; border-radius: 3px; opacity: 0; }
            a{ display: inline-block; color: #1AC5CC; font-weight:bold;}
          }
          input{background: #fff; max-width: 100%; border: none; border-radius: 6px; font-size: 20px; font-weight: 700; box-sizing: border-box; width: 100%; height: 40px; color: #26436B; position: relative; z-index: 5; padding: 0 10px; }
          input#c-item{ position: absolute; width: 0; height: 0; opacity: 0; pointer-events: none; 
            &:checked~.checkbox-label{
              &:after{ opacity: 1; }
            }
          }
          
          .btn-verify-confirm{ width: 100%; box-sizing: border-box; background: #1AC5CC; border: none; border-radius: 6px; padding: 10px 20px; color: #fff; font-size: 16px; font-weight: 700; }
          .btn-cart-save{ width: 100%; box-sizing: border-box; background: #0075FF; border: none; border-radius: 6px; padding: 10px 20px; color: #fff; font-size: 16px; font-weight: 700; }
        }
        &+tr{
          td{ border-top: 1px solid #CCE1FE; }
        }
      }
    }
  }//new-card-detail
}/* content */
.fixed-footer{ position: fixed; left: 0; right: 0; bottom: 0; background: #fff; z-index: 55;
  &-overlay{ position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 54; background: rgba(111,147,197,.54); pointer-events: none; opacity: 0; transition: .4s; 
    &.open{ pointer-events: all; opacity: 1; }
  }
  .bot-list-btn{ position: absolute; left: 50%; bottom: 100%; background: #fff; border-radius: 50px 50px 0 0; padding: 5px; transform: translateX(-50%);
    button{ cursor: pointer; border: none; background: transparent; color: #6F93C5; display: block; 
      svg{ display: block; width: 30px; height: 30px; margin: 0 auto; }
    }
  }
  .footer-up{ display: flex; justify-content: space-between; align-items: center; 
    .clean{ 
      button,a{ display: block;  cursor: pointer; border: none; background: transparent; padding: 5px; color: #FF2B00; }
      svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
      span{ padding-top: 5px; display: block; color: #6F93C5; font-size: 12px; }
      &-2{
        button,a{ color: #0075FF; }
      }
    }
    .ingenico-btn{ cursor: pointer; border: none; background: transparent; padding: 5px; color: #0075FF;
      a{ display: block; color: #0075FF; }
      svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
      span{ padding-top: 5px; display: block; color: #6F93C5; font-size: 12px; }
    }
    .price{
      .money{ color: #0075FF; font-size: 32px; display: block; font-weight: 500; }
      .piece{ font-size: 12px; color: #6F93C5; }
    }
    .payment{
      button,a{ display: block; cursor: pointer; display: block; border: none; background: transparent; color: #0075FF;
        svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
        span{ padding-top: 5px; display: block; color: #6F93C5; font-size: 12px; }
      }
      &-2{
        button,a{ color: #FF2B00; }
      }
    }
  }
  .footer-basket{ padding: 10px 0 40px; max-height: 50vh; display: none; 
    ul{ max-height: 50vh; overflow-x: hidden; overflow-y: auto; padding: 0 10px; 
      li{ display: flex; align-items: center; justify-content: space-between; padding: 5px 0;
        .name{ text-align: left; flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px);
          span{ font-size: 14px; font-weight: 500; color: #26436B; }
          .time{ font-size: 14px; color: #6F93C5; }
        }
        .piece{ max-width: 25%; flex: 1 1 0; max-width: 25%;
          .piece-options{ background: #EFF4FA; border-radius: 5px; display: flex; align-items: center; justify-content: center;
            .minus{ cursor: pointer; font-size: 20px; color: #6F93C5; font-weight: 500; width: 33%; padding: 5px 0; }
            input{ background: transparent; border: none; text-align: center; width: 33%; }
            .plus{ cursor: pointer; font-size: 20px; color: #6F93C5; font-weight: 500; width: 33%; padding: 5px 0; }
            p{ font-size: 14px; color: #000; margin-bottom: 0; padding: 10px 0;  }
          }
        }
        .price{ position: relative; font-size: 16px; color: #26436B; font-weight: 500; flex: 1 1 0; max-width: 25%;
          span{ display: block; position: absolute; right: 20%; top: 50%; transform: translateY(-50%);
            &.sub{ font-size: 14px; font-weight: 300; position: absolute; left: 80%; margin-left: 5px; }
          } 
        }
        .list-delete{ color: #FF2B00; cursor: pointer; flex: 0 0 30px; max-width: 30px; 
          svg{ display: block; width: 30px; height: 30px; }
        }
        &+li{ border-top: 1px solid #CCE1FE; }
      }
    }
  }
}/* fixed-footer */
/* test-toastr-css */
.toastr{ padding: 20px; 
  button{ border: none; background: darkslategrey; color: #fff; padding: 10px 15px; margin: 5px; }
  #success{ background: green; } 
  #error{ background: red; }
  #warning{ background: coral; }
  #info{ background: cornflowerblue; }
}//toastr
.modal{
  &#userModal{
    .modal-body{ text-align: center; padding: 50px;
      .icon{ width: 160px; height: 160px; margin: 0 auto 20px; color: #26436B;
        svg,img{ max-width: 100%; max-height: 100%; margin: 0 auto; }
      }
      .name{
        h1{ font-size: 28px; color: #0075FF; font-weight: 500; margin-bottom: 30px; }
      }
      .form{
        .form-group{ margin-bottom: 50px;
          &:nth-last-child(1){ margin-bottom: 0; }
          input{ font-size: 32px; color: #E3EDFB; font-weight: 500; border: 2px solid #6F93C5; width: 100%; padding: 20px 30px; box-sizing: border-box; height: 80px; border-radius: 20px; }
          button{ border: none; background: #0075FF; border-radius: 20px; color: #fff; font-size: 26px; display: block; width: 100%; padding: 15px 30px; cursor: pointer; }
        }
      }
    }
  }/* userModal */
  &#ingenicoModal{
    .modal-dialog{ max-width: 100%; margin: 0; }
    .modal-content{ border: none; border-radius: 0; }
    .modal-body{ text-align: center; position: relative; height: calc(100vh - 2px); box-sizing: border-box; background: #EFF4FA; border-radius: 0; overflow-x: auto;
      .back-repeat{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 50px; 
        .back{
          button{ border: none; background: transparent; display: block; cursor: pointer; color: #FF2B00;
            svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
            span{ display: block; font-size: 12px; color: #6F93C5; }
          }
        }
        .repeat{
          button{ border: none; background: transparent; display: block; cursor: pointer; color: #0075FF; 
            svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
            span{ display: block; font-size: 12px; color: #6F93C5; }
          }
        }
      }
      .order-box{ display: flex; align-items: center; background: #fff; border-radius: 10px; width: 90%; min-width: calc(320px - 2rem); margin: 0 auto; padding: 30px 10px; height: calc(100vh - 1rem - 58px - 50px - 70px - 50px); min-height: 420px; margin-bottom: 100px; 
        .centered{ flex: 0 0 100%; max-width: 100%; }
        h3{ font-size: 4.5vw; color: #6F93C5; font-weight: 400; }
        .order-no{
          p{ font-size: 10vw; color: #26436B; font-weight: 700; }
        }
        .order-amount{
          p{ font-size: 14vw; color: #0075FF; font-weight: 700; 
            span{ display: inline-block; padding-left: 10px; }
          }
        }
        .order-icon{ color: #6F93C5; 
          svg{ display: block; width: 150px; height: 150px; margin: 0 auto; }
        }
      }
      .modal-lower{ background: #fff; padding: 20px 10px; position: fixed; left: 0; bottom: 0; right: 0; 
        p{ font-size: 5.5vw; color: #26436B; font-weight: 700; margin-bottom: 0; }
      }
    }/* modal-body */
  }
}/* modal */

/*= Confirm Box */

#confirm-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: rgba( 204, 204, 204, 0.6 );
    display: none;
    transition: opacity 1s ease-in;
}

#confirm-box {
    width: 500px;
    max-width:  100%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding:  10px 20px;
    transform: translate(-50%, -50%);
}

#confirm-buttons {
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    padding-bottom: 1em;
}

#confirm-buttons button {
    display: inline-block;
    background: transparent;
    color: #000;
    font-size: 1em;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 10px;
    border-radius: 10px;
    padding: 20px 30px;
    width: 140px;
}

#confirm-header {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 40px;
}

#confirm-header:after {
    content: ' ';
    display: block;
    width: 1em;
    border-top: 1px solid;
    margin: 0.4em auto;
}

#confirm-buttons #confirm-ok{ background: #16a085; border:  none; color:  #fff; }
#confirm-buttons #confirm-cancel{ background: #34495e; border:  none; color:  #fff; }

@import "modal";
@import "responsive";