@charset "utf-8";
@import "bootstrap.button.min";
@import "reset";
/* bootstrap flex-settings */
@import "bootstrap.flex.setting";
button,button:focus{ outline: none; outline-width: 0; outline-color: transparent; }
/* bootstrap flex-settings */
.container{ width: 100%; padding: 0 $containerPadding; margin: 0 auto; max-width: 100%; box-sizing: border-box;
  &-2{ @extend .container; width: 1440px; }
}
.main{ text-align: center; padding: 10px 0 50px; }
.logo{ 
  h1,a{ display: block; text-align: center; font-size: 40px; color: #6F93C5; font-weight: 300; padding: 20px; }
  img-svg{ display: block; margin: 0 auto; max-width: 200px; }
}/* logo */
.img-date-area{ display: inline-block; padding: 0 40px;
  .img{ padding: 20px 100px; background: #E3EDFB; display: inline-block; border-radius: 20px 20px 0 0; 
    img{ display: block; margin: 0 auto; max-width: 100%; }
  }
  .date{ font-size: 24px; color: #26436B; }
}/* img-date-area */
.location-area{ background: #E3EDFB; padding: 80px 50px 50px; border-radius: 20px; max-width: 800px; margin: -50px auto 0;
  h2{ font-size: 32px; font-weight: 400; color: #6F93C5; border-bottom: 2px solid #6F93C5; padding: 10px 30px; margin-bottom: 30px; }
  h3{ font-size: 38px; font-weight: 400; color: #26436B; margin-bottom: 30px; }
  .form{
    .form-group{ background: #fff; box-shadow: 2px 2px 6px rgba(0,0,0,.16); border-radius: 20px; display: flex; align-items: center; justify-content: space-between; overflow: hidden; padding: 15px; 
      input,select{ font-size: 22px; border: none; background: #fff; height: 50px; flex: 0 0  100%; }
      select{ appearance: none; cursor: pointer;  }
      &.location-group{
        input{ font-size: 24px; }
      }
      &.registry-group{
        input{ font-size: 32px; }
      }
      button{ border: none; background: transparent; display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; cursor: pointer;
        svg{ display: block; max-width: 100%; } 
      }
    }
  }
  .list{ padding: 50px 0; 
    ul{ margin-bottom: 50px; 
      li{ margin-bottom: 15px; 
        a,button{ border: none; width: 100%; font-size: 28px; color: #fff; font-weight: 500; display: block; background: #6F93C5; padding: 20px 20px 20px 65px; border-radius: 20px; position: relative; box-sizing: border-box; 
          span{ position: absolute; left: 20px; top: 50%; transform: translateY(-50%); color: #26436B; 
            svg{ display: block; width: 40px; height: 40px; }
          }
        }
        &.active{
          a,button{ background: #0075FF; 
            span{ color: #fff; }
          }
        }
      }
    }
    &.flat-list{
      ul{
        li{
          a{ padding: 20px; }
        }
      }
    }
  }
  .notes{
    p{ font-size: 28px; color: #26436B; font-weight: 500; }
  }
}/* location-area */
.header{ position: fixed; left: 0; right: 0; top: 0; display: flex; align-items: center; padding: 10px 20px; justify-content: space-between; background: #fff; z-index: 63; 
  .menu{ color: #6F93C5; cursor: pointer; padding: 10px 20px; margin-left: -20px;
    svg{ display: block; width: 30px; height: 30px; }
  }
  .logo{
    a{ padding: 0; font-size: 32px; color: #6F93C5; font-weight: 300; line-height: 48px; }
    .date{ font-size: 22px; color: #26436B; line-height: 22px; }
  }
  .homepage{ margin-right: -20px;
    a{ display: block; color: #6F93C5; padding: 10px 20px; }
    svg{ display: block; width: 30px; height: 30px; }
  }
}/* header */
.side-menu{ position: fixed; left: 0; top: 0; padding-top: 90px; width: 0; max-width: 500px; background: #EFF4FA; overflow: hidden; height: 100vh; z-index: 61; transition: .4s; 
  &-overlay{ position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 60; pointer-events: none; opacity: 0; background: rgba(111,147,197,.54); transition: .4s; 
    &.open{ pointer-events: all; opacity: 1; }
  }
  &-main{ width: 100%; min-width: 280px; height: calc(100vh - 110px); overflow-x: auto; padding: 0 5px 30px; }
  &.open{ width: 90%; }
  .list{
    ul{ display: flex; flex-wrap: wrap; padding: 10px;
      li{ flex: 0 0 calc(33.333% - 20px); max-width: calc(33.333% - 20px); margin: 10px; 
        a,button{ border: none; display: block; padding: 15px 5px 5px; background: #fff; box-shadow: 0 0 6px rgba(0,0,0,.16); border-radius: 20px; 
          span{ display: block; padding: 10px 0; font-size: 12px; color: #26436B; font-weight: 500; box-sizing: border-box; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
            svg{ display: block; color: #6F93C5; width: 20px; height: 20px; }
            &.icon{ display: flex; align-items: center; justify-content: center; background: #EFF4FA; border-radius: 50px; width: 50px; height: 50px; margin: 0 auto; }
          }
        }
        .exit{ background: #FF2B00; color: #fff; 
          span{ color: #fff; 
            svg{ color: #fff; width: 30px; height: 30px; margin: 0 auto; }
          }
        }
        .lock{ background: #6F93C5; color: #fff; 
          span{ color: #fff; 
            svg{ color: #fff; width: 30px; height: 30px; margin: 0 auto; }
          }
        }
      }
    }
  }
}/* side-menu*/
.content{ background: #EFF4FA; padding: 110px 20px 20px; margin: 0 -10px; height: calc(100vh - 60px); box-sizing: border-box; 
  .box-list{ display: flex; flex-wrap: wrap; margin: 0 -10px;
    .box{ flex: 0 0 calc(33% - (38px / 3)); max-width: calc(33% - (38px / 3)); margin-bottom: 20px; padding: 5px; background: #fff; border-radius: 5px; box-shadow: 0 1px 4px rgba(111,147,197, .67); box-sizing: border-box; margin: calc((38px / 3)/ 2); 
      .name{ font-size: 12px; color: #26436B; font-weight: 500; text-align: left; padding-bottom: 5px; white-space: nowrap; width: 100%; text-overflow: ellipsis; overflow: hidden; }
      .time{ font-size: 12px; color: #6F93C5; text-align: left; margin-bottom: 10px; white-space: nowrap; width: 100%; text-overflow: ellipsis; overflow: hidden; }
      .price{ font-size: 20px; color: #0075FF; font-weight: 700; margin-bottom: 5px; white-space: nowrap; width: 100%; text-overflow: ellipsis; overflow: hidden;
        span{ font-weight: 300; display: inline-block; margin-right: -10px; }
      }
      .subname{ font-size: 14px; color: #6F93C5; white-space: nowrap; width: 100%; text-overflow: ellipsis; overflow: hidden; }
    } 
  }/* box-list */
  .sales-list{ margin: 0 -20px; padding: 0 10px 50px; background: #EFF4FA; 
    ul{
      li{ margin-bottom: 10px; 
        a{ display: flex; align-items: center; justify-content: space-between; background: #fff; border-radius: 10px; box-shadow: 0 2px 5px rgba(111,147,197, .67); padding: 10px 15px;
          .identity-datetime{
            .num{ font-size: 22px; color: #26436B; font-weight: 500; transition: .4s; }
            .datetime{ font-size: 14px; color: #6F93C5; }
          }
          .piece-name{
            .piece{ font-size: 20px; color: #6F93C5; }
            .name{ font-size: 16px; color: #6F93C5; }
          }
          .credit{
            .price{ font-size: 22px; color: #0075FF; font-weight: 700; transition: .4s;  
              span{ font-size: 16px; font-weight: 500; }
            }
            .text{ font-size: 16px; color: #6F93C5; }
          }
        }
        &.active,&:hover{
          .identity-datetime{
            .num{ color: #FF2B00; }
          }
          .credit{
            .price{ color: #FF2B00; }
          }
        }
      }
    }
  }/* sales-list */
  .location-content{ padding: 5px; 
    p{ font-size: 22px; color: #26436B; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
    .loc-set{ display: flex; align-items: center; padding: 20px 30px; justify-content: space-between;
      .time-set{
        .upper{ font-size: 26px; color: #6F93C5; font-weight: 300; }
        .lower{ font-size: 26px; color: #0075FF; font-weight: 500; }
      }
      .loc-icon{
        a{ display: block; color: #0075FF; 
          svg{ display: block; width: 90px; height: 90px; }
        }
      }
    }
    h2{ font-size: 24px; color: #26436B; font-weight: 400; }
  }
  .connect-content{ margin: -20px -20px 0; min-height: calc(100vh - 100px); text-align: center; position: relative; box-sizing: border-box; background: #EFF4FA; border-radius: 0; padding-bottom: 1px;  display: flex; align-items: center; justify-content: center;
    .back-repeat{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 50px; 
      .back{
        button{ border: none; background: transparent; display: block; cursor: pointer; color: #FF2B00;
          svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
          span{ display: block; font-size: 12px; color: #6F93C5; }
        }
      }
      .repeat{
        button{ border: none; background: transparent; display: block; cursor: pointer; color: #0075FF; 
          svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
          span{ display: block; font-size: 12px; color: #6F93C5; }
        }
      }
    }
    .order-box{ display: flex; align-items: center; border-radius: 10px; width: 90%; min-width: calc(320px - 2rem); margin: 0 auto; min-height: 420px; 
      .centered{ flex: 0 0 100%; max-width: 100%; }
      h3{ font-size: 4.5vw; color: #6F93C5; font-weight: 400; }
      .order-no{
        p{ font-size: 10vw; color: #26436B; font-weight: 700; }
      }
      .order-amount{ margin-bottom: 40px; 
        p{ font-size: 10vw; color: #0075FF; font-weight: 700; 
          span{ display: inline-block; padding-left: 10px; }
        }
      }
      .order-icon{ color: #6F93C5; 
        svg{ display: block; width: 150px; height: 150px; margin: 0 auto; }
      }
    }
    .connect-lower{ padding: 50px 10px 20px; margin-bottom: 50px;
      p{ font-size: 5.5vw; color: #26436B; font-weight: 500; margin-bottom: 0; }
    }
  }
}/* content */
.fixed-footer{ position: fixed; left: 0; right: 0; bottom: 0; background: #fff; z-index: 55;
  &-overlay{ position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 54; background: rgba(111,147,197,.54); pointer-events: none; opacity: 0; transition: .4s; 
    &.open{ pointer-events: all; opacity: 1; }
  }
  .bot-list-btn{ position: absolute; left: 50%; bottom: 100%; background: #fff; border-radius: 50px 50px 0 0; padding: 5px; transform: translateX(-50%);
    button{ cursor: pointer; border: none; background: transparent; color: #6F93C5; display: block; 
      svg{ display: block; width: 30px; height: 30px; margin: 0 auto; }
    }
  }
  .footer-up{ display: flex; justify-content: space-between; align-items: center; 
    .clean{ 
      button{ cursor: pointer; border: none; background: transparent; padding: 5px; color: #FF2B00; }
      svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
      span{ padding-top: 5px; display: block; color: #6F93C5; font-size: 12px; }
    }
    .price{
      .money{ color: #0075FF; font-size: 32px; display: block; font-weight: 500; }
      .piece{ font-size: 12px; color: #6F93C5; }
    }
    .payment{
      button{ cursor: pointer; display: block; border: none; background: transparent; color: #0075FF;
        svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
        span{ padding-top: 5px; display: block; color: #6F93C5; font-size: 12px; }
      }
    }
  }
  .footer-basket{ padding: 10px 0 40px; max-height: 50vh; display: none; 
    ul{ max-height: 50vh; overflow-x: hidden; overflow-y: auto; padding: 0 10px; 
      li{ display: flex; align-items: center; justify-content: space-between; padding: 5px 0;
        .name{ text-align: left; flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px);
          span{ font-size: 14px; font-weight: 500; color: #26436B; }
          .time{ font-size: 14px; color: #6F93C5; }
        }
        .piece{ max-width: 25%; flex: 1 1 0; max-width: 25%;
          .piece-options{ background: #EFF4FA; border-radius: 5px; display: flex; align-items: center; justify-content: center;
            .minus{ cursor: pointer; font-size: 20px; color: #6F93C5; font-weight: 500; width: 33%; padding: 5px 0; }
            input{ background: transparent; border: none; text-align: center; width: 33%; }
            .plus{ cursor: pointer; font-size: 20px; color: #6F93C5; font-weight: 500; width: 33%; padding: 5px 0; }
            p{ font-size: 14px; color: #000; margin-bottom: 0; padding: 10px 0;  }
          }
        }
        .price{ position: relative; font-size: 16px; color: #26436B; font-weight: 500; flex: 1 1 0; max-width: 25%;
          span{ display: block; position: absolute; right: 20%; top: 50%; transform: translateY(-50%);
            &.sub{ font-size: 14px; font-weight: 300; position: absolute; left: 80%; margin-left: 5px; }
          } 
        }
        .list-delete{ color: #FF2B00; cursor: pointer; flex: 0 0 30px; max-width: 30px; 
          svg{ display: block; width: 30px; height: 30px; }
        }
        &+li{ border-top: 1px solid #CCE1FE; }
      }
    }
  }
}/* fixed-footer */
.modal{
  &#userModal{
    .modal-body{ text-align: center; padding: 50px;
      .icon{ width: 160px; height: 160px; margin: 0 auto 20px; color: #26436B;
        svg,img{ max-width: 100%; max-height: 100%; margin: 0 auto; }
      }
      .name{
        h1{ font-size: 28px; color: #0075FF; font-weight: 500; margin-bottom: 30px; }
      }
      .form{
        .form-group{ margin-bottom: 50px;
          &:nth-last-child(1){ margin-bottom: 0; }
          input{ font-size: 32px; color: #E3EDFB; font-weight: 500; border: 2px solid #6F93C5; width: 100%; padding: 20px 30px; box-sizing: border-box; height: 80px; border-radius: 20px; }
          button{ border: none; background: #0075FF; border-radius: 20px; color: #fff; font-size: 26px; display: block; width: 100%; padding: 15px 30px; cursor: pointer; }
        }
      }
    }
  }/* userModal */
  &#ingenicoModal{
    .modal-dialog{ max-width: 100%; margin: 0; }
    .modal-content{ border: none; border-radius: 0; }
    .modal-body{ text-align: center; position: relative; height: calc(100vh - 2px); box-sizing: border-box; background: #EFF4FA; border-radius: 0; overflow-x: auto;
      .back-repeat{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 50px; 
        .back{
          button{ border: none; background: transparent; display: block; cursor: pointer; color: #FF2B00;
            svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
            span{ display: block; font-size: 12px; color: #6F93C5; }
          }
        }
        .repeat{
          button{ border: none; background: transparent; display: block; cursor: pointer; color: #0075FF; 
            svg{ display: block; width: 40px; height: 40px; margin: 0 auto; }
            span{ display: block; font-size: 12px; color: #6F93C5; }
          }
        }
      }
      .order-box{ display: flex; align-items: center; background: #fff; border-radius: 10px; width: 90%; min-width: calc(320px - 2rem); margin: 0 auto; padding: 30px 10px; height: calc(100vh - 1rem - 58px - 50px - 70px - 50px); min-height: 420px; margin-bottom: 100px; 
        .centered{ flex: 0 0 100%; max-width: 100%; }
        h3{ font-size: 4.5vw; color: #6F93C5; font-weight: 400; }
        .order-no{
          p{ font-size: 10vw; color: #26436B; font-weight: 700; }
        }
        .order-amount{
          p{ font-size: 14vw; color: #0075FF; font-weight: 700; 
            span{ display: inline-block; padding-left: 10px; }
          }
        }
        .order-icon{ color: #6F93C5; 
          svg{ display: block; width: 150px; height: 150px; margin: 0 auto; }
        }
      }
      .modal-lower{ background: #fff; padding: 20px 10px; position: fixed; left: 0; bottom: 0; right: 0; 
        p{ font-size: 5.5vw; color: #26436B; font-weight: 700; margin-bottom: 0; }
      }
    }/* modal-body */
  }
}/* modal */
@import "modal";
@import "responsive";