
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFE BILL</title>
    <meta name="description" content="Website">
    <meta name="keywords" content="Website">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assetsdoc/scss/global.css">
</head>
<body>
    <div style="width:100%;">
        <div class="table-responsive">
            <table class="bill-table" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" class="tb b rnone">
                                        ŞUBE ADI:
                                    </td>
                                    <td width="50%" class="tb b">
                                        TARİH:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 0;padding-left: 0;padding-right:50px;vertical-align:top;">
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="height:20px;"></td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" class="line-border">
                                            <tr>
                                                <td>Personel Adı</td>
                                                <td class="tac">Çalışma Saati</td>
                                                <td class="tac">Saat Ücreti</td>
                                                <td class="tac"></td>
                                                <td class="tac">Toplam</td>
                                            </tr>
                                            <tr>
                                                <td>İbrahim</td>
                                                <td>x</td>
                                                <td>x</td>
                                                <td>=</td>
                                                <td class="tar">₺</td>
                                            </tr>
                                            <tr>
                                                <td>Mesut</td>
                                                <td>x</td>
                                                <td>x</td>
                                                <td>=</td>
                                                <td class="tar">₺</td>
                                            </tr>
                                            <tr>
                                                <td>Merve</td>
                                                <td>x</td>
                                                <td>x</td>
                                                <td>=</td>
                                                <td class="tar">₺</td>
                                            </tr>
                                            <tr>
                                                <td>Elif</td>
                                                <td>x</td>
                                                <td>x</td>
                                                <td>=</td>
                                                <td class="tar">₺</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>x</td>
                                                <td>x</td>
                                                <td>=</td>
                                                <td class="tar">₺</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>x</td>
                                                <td>x</td>
                                                <td>=</td>
                                                <td class="tar">₺</td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="height:10px;"></td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" class="line-border">
                                            <tr>
                                                <td style="min-width: 300px;">İşçilik Toplam</td>
                                                <td>=</td>
                                                <td style="min-width: 100px;"></td>
                                            </tr>
                                            <tr>
                                                <td>Masraf</td>
                                                <td>=</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Genel Toplam</td>
                                                <td>=</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="height:10px;"></td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" class="line-border">
                                            <tr>
                                                <td style="min-width: 300px;">En Son Satılan Bilet Numarası</td>
                                                <td>=</td>
                                                <td style="min-width: 100px;"></td>
                                            </tr>
                                            <tr>
                                                <td>İade Bilet Adedi</td>
                                                <td>=</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Toplam Satılan Bilet Adedi</td>
                                                <td>=</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="height:10px;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding-top: 0;padding-right: 0;padding-left:0;vertical-align:top;">
                                        <table cellpadding="0" cellspacing="0" class="full-border tnone">
                                            <tr>
                                                <td>P.tesi</td>
                                                <td>Salı</td>
                                                <td>Çarş.</td>
                                                <td>Perş.</td>
                                                <td>Cuma</td>
                                                <td>Cmts.</td>
                                                <td>Pzr.</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="height:10px;"></td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td colspan="3" style="width:50%;">1.</td>
                                                <td colspan="3" style="width:50%;">2.</td>
                                            </tr>
                                            <tr>
                                                <td>NAKİT</td>
                                                <td>=</td>
                                                <td style="min-width: 50px;"></td>
                                                <td>NAKİT</td>
                                                <td>=</td>
                                                <td style="min-width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td>KREDİ</td>
                                                <td>=</td>
                                                <td></td>
                                                <td>KREDİ</td>
                                                <td>=</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>TOPLAM</td>
                                                <td>=</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>ZARF İÇİNDE</td>
                                                <td>=</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>TOPLAM KASA DEVİRİ</td>
                                                <td>=</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-right:50px;vertical-align:top;">
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width:50%;">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>ŞUBEYE KARGO GELDİ Mİ?</td>
                                                            <td><input type="checkbox"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>ŞUBEDEN KARGO GÖNDERİLDİ Mİ?</td>
                                                            <td><input type="checkbox"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="width:50%;">
                                                    <textarea placeholder="KARGO DETAYI"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="vertical-align:top;">
                                        <table cellpadding="0" cellspacing="0" class="full-border">
                                            <tr>
                                                <td>DAKİKA</td>
                                                <td>MÜŞTERİ SAYISI</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" class="full-border full-center">
                                <tr>
                                    <td colspan="4" style="width:50%;">ŞUBE ADI</td>
                                    <td colspan="2" style="width:50%;" class="tac">TARİH</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="tac">İADE BİLET FORMU</td>
                                </tr>
                                <tr>
                                    <td>SIRA NO</td>
                                    <td>PERSONEL ADI</td>
                                    <td>SAAT</td>
                                    <td>İPTAL NEDENİ</td>
                                    <td>MÜŞTERİ ADI</td>
                                    <td>MÜŞTERİ İMZASI</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
