################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ActiontimeCarousel/FileContentIndex/6a74cd37-b824-43ad-9f7c-816411e08bcc.vsidx
/.vs/ActiontimeCarousel/FileContentIndex/bedeb6c3-d334-4987-b636-51f7ee0c9fc7.vsidx
/.vs/ActiontimeCarousel/FileContentIndex/fb3e7305-0f3f-42f0-84d7-d4e5cae6d487.vsidx
/.vs/ActiontimeCarousel/FileContentIndex/fe15eff6-ff80-4115-b037-ccbe916de03d.vsidx
/.vs/ProjectEvaluation/actiontimecarousel.metadata.v10.bin
/.vs/ActiontimeCarousel/FileContentIndex/ce0334ba-4e7c-48e4-9162-751da7d22026.vsidx
/.vs/ActiontimeCarousel/copilot-chat/deb160ce/sessions/66f4b0c5-e574-436d-8b17-90da8bac4d05
/.vs/ActiontimeCarousel/copilot-chat/deb160ce/sessions/991abacf-167e-4a85-a2d1-a8c4c4212d6b
/.vs/ActiontimeCarousel/copilot-chat/deb160ce/sessions/9a3a83cb-568a-44c9-84c3-1a8c4fd41b48
/.vs/ActiontimeCarousel/copilot-chat/deb160ce/sessions/b5e7eddc-9dd2-47d8-b259-2b89a83f9a64
/.vs/ActiontimeCarousel/copilot-chat/deb160ce/sessions/c2fd6e7b-4a7f-4401-83a5-159bf2097322
/.vs/ActiontimeCarousel/copilot-chat/deb160ce/sessions/ff011f37-4316-4f88-a930-2343939f38bc
/.vs/ActiontimeCarousel/CopilotIndices/18.0.955.22606/CodeChunks.db
/.vs/ActiontimeCarousel/CopilotIndices/18.0.955.22606/SemanticSymbols.db
/.vs/ActiontimeCarousel/DesignTimeBuild/.dtbcache.v2
/.vs/ActiontimeCarousel/FileContentIndex/2a619de7-231b-449b-a527-a1666ab2814f.vsidx
/.vs/ActiontimeCarousel/FileContentIndex/84427442-0590-4819-94d5-ae438f711adf.vsidx
/.vs/ActiontimeCarousel/FileContentIndex/9c238cda-c305-4f77-baad-b46a2744540b.vsidx
/.vs/ActiontimeCarousel/FileContentIndex/d5039c59-6b46-4559-a787-0325d1f14bc8.vsidx
/.vs/ActiontimeCarousel/FileContentIndex/ff9c11fe-b33c-45d5-8adb-d117f0b7a1a0.vsidx
/.vs/ActiontimeCarousel/v18/.futdcache.v2
/.vs/ActiontimeCarousel/v18/.suo
/.vs/ActiontimeCarousel/v18/DocumentLayout.backup.json
/.vs/ActiontimeCarousel/v18/DocumentLayout.json
/.vs/ActiontimeCarousel.slnx/v18/.wsuo
/.vs/ActiontimeCarousel.slnx/v18/DocumentLayout.json
/.vs/ProjectEvaluation/actiontimecarousel.projects.v10.bin
/.vs/ProjectEvaluation/actiontimecarousel.strings.v10.bin
*.json
