################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ActiontimeCarousel/FileContentIndex/6a74cd37-b824-43ad-9f7c-816411e08bcc.vsidx
/.vs/ActiontimeCarousel/FileContentIndex/bedeb6c3-d334-4987-b636-51f7ee0c9fc7.vsidx
