@model EmployeeControlModel
@using (Ajax.BeginForm("AddLocation", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "LocationList", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()

    <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="mg-b-0">@(Model.CurrentEmployee?.FullName) <input id="EmployeeID" name="EmployeeID" value="@(Model.CurrentEmployee?.EmployeeID)" type="hidden" /></h6>
    </div>
    <div class="card-body pd-0">
        
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Lokasyon</label>
                    <input id="LocationName" name="LocationName" type="text" class="form-control" autocomplete="off" placeholder="Lokasyon İsim"  required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPassword4">&nbsp;</label>
                    <input id="AddLocation" type="submit" class="btn btn-primary btn-block" autocomplete="off" value="Kaydet" />
                </div>
            </div>
    </div>
    <div class="card-footer text-center tx-13">
    </div>
}

<div id="LocationList">
    @{Html.RenderPartial("_PartialLocationList", Model); }
</div>

<script>
        $(function () {
            'use strict'

            $('#DateStart').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

    });

    $(function () {
        $('.shiftbegintime').mask('00:00');
        $('.hour').mask('00:00');
        $('.hourfull').mask('00:00:00');
        $('.shiftdate').mask('0000-00-00');
        $('.quantity').mask("#.##0", { reverse: true });
        $('.number').mask("##0", { reverse: true });
        $('.money').mask("#.##0,00", { reverse: true });
        $('.money4').mask("#.##0,0000", { reverse: true });
    });
</script>