@charset "utf-8";
@import "reset";
*{ font-size: 14px; font-weight: 600; }
.table-responsive{ overflow-x: auto; width: 100%; }
.bill-table{ margin: 0 auto; width: 100%; max-width: 100%; }
.tac{ text-align: center; }
.tar{ text-align: right; }
.tal{ text-align: left; }
.line-border{
  tr{
    td{ border-bottom: 1px solid #000; }
  }
}
.full-border{ border-left: 1px solid #000; border-top: 1px solid #000;
  tr{
    td{ border-right: 1px solid #000; border-bottom: 1px solid #000; }
  }
}
.full-center{ text-align: center; }
.tb{ border-left: 1px solid #000; border-top: 1px solid #000; }
.b{ border-right: 1px solid #000; border-bottom: 1px solid #000; }
.lnone{ border-left: none; }
.rnone{ border-right: none; }
.tnone{ border-top: none; }
.bnone{ border-bottom: none; }
table{ width: 100%; 
  tr{
    td{ padding: 5px; height: 20px; }
  }
}
textarea{ width: 100%; resize: none; height: 100px; box-sizing: border-box; padding: 5px; 
  &::placeholder{ color: #000; }
}
input{ width: 20px; height: 20px; }
@import "responsive";