@model DefinitionControlModel
@{
    ViewBag.Title = "Tanımlar";
}

@section style{

}

<div class="row no-gutters">



    <div class="col-md-4 mg-t-0 pd-r-0 pd-l-0 pd-t-0">
        <div id="scrollBank" class="card-body pd-0  pos-relative bd ht-100v">

            <div class="contact-list">

                <div class="row pd-5">
                    <div class="col-6">
                        <div class="btn-group btn-group-sm float-right" role="group">
                            <button type="button" class="btn btn-light" onclick="BankSearch('all');">Tümü</button>
                            <button type="button" class="btn btn-primary" onclick="BankSearch('act');">Aktifler</button>
                            <button type="button" class="btn btn-secondary" onclick="BankSearch('psv');">Pasifler</button>
                        </div>
                    </div>
                </div>



                <div class="table-responsive" id="BanksList">
                    @{Html.RenderPartial("_PartialBanksList", Model);}
                </div>
            </div>


        </div>

    </div>
    <div class="col-md-8 mg-t-0 pd-r-0 pd-l-0 pd-t-0">
        <div class="df-example demo-forms pd-5">
            <div class="card ht-100p" id="AddBankAccount">

            </div>
        </div>

    </div>
</div>



@section scripts {


    <script>
        $(function () {
            'use strict'
            //$(".content").addClass("app-contact");


            $('.shifttime').mask('00:00');
            $('.shiftdate').mask('0000-00-00');


            const scrollBank = new PerfectScrollbar('#scrollBank', {
                suppressScrollX: true
            });

        });
        

        function BankSearch(active) {

            $.ajax({
                method: "GET",
                url: "/Definition/BankSearch",
                data: { active: active }
            }).done(function (d) {
                $("#BanksList").html(d);
            });
        }

        function BankAccountList(id) {
            $.ajax({
                method: "GET",
                url: "/Definition/BankAccountList",
                data: { id: id }
            }).done(function (d) {
                $("#AddBankAccount").html(d);
            });
        }

        function DeleteBankAccount(id) {
            $.ajax({
                method: "GET",
                url: "/Definition/DeleteBankAccount",
                data: { id: id }
            }).done(function (d) {
                $("#BankAccountList").html(d);
            });
        }
    </script>




    @if (Model.Results != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Results.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

