@model DefinitionControlModel
@{
    ViewBag.Title = "Tanımlar";
}

@section style{

}

<div class="row no-gutters">



    <div class="col-md-4 mg-t-0 pd-r-0 pd-l-0 pd-t-0">
        <div id="scrollLocation" class="card-body pd-0  pos-relative bd ht-100v">

            <div class="contact-list">

                <div class="row pd-5">
                    <div class="col-6">
                        <div class="form-group mg-b-0 align-items-end">
                            <div class="search-form">
                                <input id="srcLocationName" type="search" class="form-control form-control-sm" placeholder="Lokasyon Ara">
                                <button id="srcLocation" onclick="LocationSearch()" class="btn btn-sm" type="button"><i data-feather="search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="btn-group btn-group-sm float-right" role="group">
                            <button type="button" class="btn btn-light" onclick="LocationSearch('all');">Tümü</button>
                            <button type="button" class="btn btn-primary" onclick="LocationSearch('act');">Aktifler</button>
                            <button type="button" class="btn btn-secondary" onclick="LocationSearch('psv');">Pasifler</button>
                        </div>
                    </div>
                </div>



                <div class="table-responsive" id="LocationList">
                    @{Html.RenderPartial("_PartialLocationList", Model);}
                </div>
            </div>


        </div>

    </div>
    <div class="col-md-8 mg-t-0 pd-r-0 pd-l-0 pd-t-0">
        <div class="df-example demo-forms pd-5">
            <div class="card ht-100p" id="AddCashRecord">

            </div>
        </div>

    </div>
</div>



@section scripts {


    <script>
        $(function () {
            'use strict'
            //$(".content").addClass("app-contact");


            $('.shifttime').mask('00:00');
            $('.shiftdate').mask('0000-00-00');


            const scrollLocation = new PerfectScrollbar('#scrollLocation', {
                suppressScrollX: true
            });

        });

        $(document).ready(function () {
            $('#srcLocationName').keypress(function (e) {
                if (e.keyCode == 13)
                    LocationSearch();
            });
        });

        function LocationSearch(active) {

            var skey = $("#srcLocationName").val();

            $.ajax({
                method: "GET",
                url: "/Definition/LocationSearch",
                data: { key: skey, active: active }
            }).done(function (d) {
                $("#LocationList").html(d);
            });
        }

        function LocationCash(id) {
            $.ajax({
                method: "GET",
                url: "/Definition/CashRecordList",
                data: { id: id }
            }).done(function (d) {
                $("#AddCashRecord").html(d);
            });
        }
    </script>




    @if (Model.Results != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Results.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

