@model PartnerControlModel
@{
    ViewBag.Title = "Partner User";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">İşortağı Kullanıcısı Ekleme</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body  mg-t-40 mg-lg-t-0">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <h4 class="mg-b-0 tx-spacing--1">Yeni İşortağı Kullanıcısı</h4>
                    </div>
                    <div class="d-none d-md-block">

                        <a href="/Partner/Detail/@(Model.VPartner.UID)" class="btn btn-primary btn-uppercase"><i data-feather="list"></i> &nbsp; İşortağı Detayı</a> &nbsp;

                    </div>
                </div>
                @using (Html.BeginForm("AddPartnerUser", "Partner", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row row-xs">
                        <div class="col-lg-12">
                            <input id="PartnerUID" name="PartnerUID" type="hidden" value="@(Model.VPartner.UID)" />



                            <div class="form-group row bg-gray-100">
                                <label for="UserFullname" class="col-sm-3 col-form-label">Adı Soyadı</label>
                                <div class="col-sm-6">
                                    <input id="UserFullname" name="UserFullname" autocomplete="off" type="text" class="form-control tx-16" maxlength="150" placeholder="Adı Soyadınız" value="" required>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row bg-gray-100">
                                <label for="Username" class="col-sm-3 col-form-label">Kullanıcı Adı</label>
                                <div class="col-sm-6">
                                    <input id="Username" name="Username" autocomplete="off" type="text" class="form-control tx-16" maxlength="40" placeholder="Kullanıcı Adınız" value="" required>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-100">
                                <label for="Password" class="col-sm-3 col-form-label">Şifresi</label>
                                <div class="col-sm-6">
                                    <input id="Password" name="Password" autocomplete="off" type="password" class="form-control" maxlength="40" placeholder="Şifresiniz" value="" required>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row bg-gray-100">
                                <label for="Password2" class="col-sm-3 col-form-label">Şifresi (Tekrar)</label>
                                <div class="col-sm-6">
                                    <input id="Password2" name="Password2" autocomplete="off" type="password" class="form-control" maxlength="40" placeholder="Şifresiz Tekrar" value="" required>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row">
                                <label for="Email" class="col-sm-3 col-form-label">E-Posta Adresi</label>
                                <div class="col-sm-6">
                                    <input id="Email" name="Email" autocomplete="off" type="email" class="form-control" maxlength="100" placeholder="E-Posta Adresiniz" value="">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row mg-b-0">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-success btn-block">Yeni İşortağı Kullanıcısı Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts {

}