@model DayResultControlModel
<div class="form-group row">
    <div class="col-12">
        @if (!Request.IsLocal)
        {
            <img src="@($"http://action.ufegrup.com/Document/Envelope/{Model.ResultDocument.FileName}")" alt="@(Model.ResultDocument.FileName)" style="width:100%" />
        }
        else
        {
            <img src="@($"/Documents/{Model.ResultDocument.FileName}")" alt="@(Model.ResultDocument.FileName)" style="width:100%" />
        }
    </div>
</div>
