@model ActionControlModel
@{
    ViewBag.Title = "Cari Hesap";
}

<div class="d-flex flex fixed-content">

    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-3">
                <div class="toolbar">
                    <a href="/" class="btn btn-md btn-white" title="Önceki Gün">
                        <i class="text-primary font-weight-bold" data-feather="chevron-left"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Bu gün">
                        <i class="text-primary font-weight-bold" data-feather="target"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Sonraki Gün">
                        <i class="text-primary font-weight-bold" data-feather="chevron-right"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Takvim">
                        <i class="text-primary font-weight-bold" data-feather="calendar"></i>
                    </a>
                    <a href="#" class="btn btn-md btn-white">
                        <span class="font-weight-bold">@(DateTime.Now.ToLongDateString())</span>
                    </a>
                </div>
            </div>

            <div class="scroll-y mx-3 mb-3 card">
                <div class="table-responsive">
                    <table class="table table-theme table-hover table-row v-middle" style="border-spacing: 0 1px !important; padding: 0.5rem !important;">

                        <thead>
                            <tr class="text-right table-light" style="font-size: 0.875rem; padding:4px;">
                                <th colspan="3" class="text-left"> Devir</th>
                                <th>0 EUR</th>
                                <th>0 USD</th>
                                <th>0 TRL</th>
                                <th>0 EUR</th>
                                <th>0 USD</th>
                                <th>0 TRL</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td colspan="11"></td>
                            </tr>
                        </thead>

                        <thead>
                            <tr class="text-center">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" class="bg-primary text-md">Nakit</td>
                                <td></td>
                                <td colspan="2" class="bg-warning text-md">Kart</td>
                                <td></td>
                                <td class="bg-secondary text-md">Toplam</td>
                                <td></td>
                            </tr>
                            <tr class="table-light text-sm font-weight-bold">
                                <td>Belge</td>
                                <td>Tarih</td>
                                <td>İşlem</td>
                                <td class="text-right">Tahsilat</td>
                                <td class="text-right">Ödeme</td>
                                <td class="text-right"></td>
                                <td class="text-right">Tahsilat</td>
                                <td class="text-right">Ödeme</td>
                                <td class="text-right"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">A000001</a></td>
                                <td><span class="text-sm">2020-01-10</span></td>
                                <td><span class="text-sm">Masraf Fişi</span></td>
                                <td class="bg-primary-lt text-right text-dark">10,00</td>
                                <td class="bg-primary-lt text-right text-dark">0,00</td>
                                <td class="bg-primary-lt text-right font-weight-bold">10,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right font-weight-bold">0,00</td>
                                <td class="text-sm text-right text-md p-0">10,00</td>
                                <td class="text-right">TRL</td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">A000001</a></td>
                                <td><span class="text-sm">2020-01-10</span></td>
                                <td><span class="text-sm">Masraf Fişi</span></td>
                                <td class="bg-primary-lt text-right text-dark">0,00</td>
                                <td class="bg-primary-lt text-right text-dark">10,00</td>
                                <td class="bg-primary-lt text-right font-weight-bold text-danger">-10,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right font-weight-bold text-danger">0,00</td>
                                <td class="text-sm text-right text-md p-0">-10,00</td>
                                <td class="text-right">TRL</td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">A000001</a></td>
                                <td><span class="text-sm">2020-01-10</span></td>
                                <td><span class="text-sm">Masraf Fişi</span></td>
                                <td class="bg-primary-lt text-right text-dark">10,00</td>
                                <td class="bg-primary-lt text-right text-dark">0,00</td>
                                <td class="bg-primary-lt text-right font-weight-bold">10,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right font-weight-bold">0,00</td>
                                <td class="text-sm text-right text-md p-0">10,00</td>
                                <td class="text-right">TRL</td>
                            </tr>
                            <tr class=" v-middle shadow-sm" data-id="15">
                                <td class="flex"><a href="#" class="">A000001</a></td>
                                <td><span class="text-sm">2020-01-10</span></td>
                                <td><span class="text-sm">Masraf Fişi</span></td>
                                <td class="bg-primary-lt text-right text-dark">0,00</td>
                                <td class="bg-primary-lt text-right text-dark">10,00</td>
                                <td class="bg-primary-lt text-right font-weight-bold text-danger">-10,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right font-weight-bold text-danger">0,00</td>
                                <td class="text-sm text-right text-md p-0">-10,00</td>
                                <td class="text-right">TRL</td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">A000001</a></td>
                                <td><span class="text-sm">2020-01-10</span></td>
                                <td><span class="text-sm">Masraf Fişi</span></td>
                                <td class="bg-primary-lt text-right text-dark">10,00</td>
                                <td class="bg-primary-lt text-right text-dark">0,00</td>
                                <td class="bg-primary-lt text-right font-weight-bold red">10,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right font-weight-bold">0,00</td>
                                <td class="text-sm text-right text-md p-0">10,00</td>
                                <td class="text-right">TRL</td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">A000001</a></td>
                                <td><span class="text-sm">2020-01-10</span></td>
                                <td><span class="text-sm">Masraf Fişi</span></td>
                                <td class="bg-primary-lt text-right text-dark">0,00</td>
                                <td class="bg-primary-lt text-right text-dark">10,00</td>
                                <td class="bg-primary-lt text-right font-weight-bold text-danger">-10,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right text-dark">0,00</td>
                                <td class="bg-warning-lt text-right font-weight-bold">0,00</td>
                                <td class="text-sm text-right text-md p-0">-10,00</td>
                                <td class="text-right">TRL</td>
                            </tr>
                        </tbody>
                        <tfoot class="order-0">
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"></td>
                                <td><span class="text-sm"></span></td>
                                <td><span class="text-sm"></span></td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right text-dark">10,00</td>
                                <td class="text-right font-weight-bold">-10,00</td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right font-weight-bold">0,00</td>
                                <td class="text-sm text-right text-md p-0">-10,00</td>
                                <td class="text-right">TRL</td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"></td>
                                <td><span class="text-sm"></span></td>
                                <td><span class="text-sm"></span></td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right text-dark">10,00</td>
                                <td class="text-right font-weight-bold">-10,00</td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right font-weight-bold">0,00</td>
                                <td class="text-sm text-right text-md p-0">-10,00</td>
                                <td class="text-right">USD</td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"></td>
                                <td><span class="text-sm"></span></td>
                                <td><span class="text-sm"></span></td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right text-dark">10,00</td>
                                <td class="text-right font-weight-bold">-10,00</td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right text-dark">0,00</td>
                                <td class="text-right font-weight-bold">0,00</td>
                                <td class="text-md text-right p-0">-10,00</td>
                                <td class="text-right">EUR</td>
                            </tr>

                            <tr class=" v-middle">
                                <td colspan="11"></td>
                            </tr>
                            <tr class=" v-middle bg--white">
                                <td class="flex"></td>
                                <td><span class="text-sm"></span></td>
                                <td><span class="text-sm"></span></td>
                                <td></td>
                                <td></td>
                                <td class="text-right font-weight-bold">-10,00</td>
                                <td></td>
                                <td></td>
                                <td class="text-right font-weight-bold">0,00</td>
                                <td class="text-right text-md p-0">-10,00</td>
                                <td class="text-right">TRL</td>
                            </tr>
                            <tr class=" v-middle bg--white">
                                <td class="flex"></td>
                                <td><span class="text-sm"></span></td>
                                <td><span class="text-sm"></span></td>
                                <td></td>
                                <td></td>
                                <td class="text-right font-weight-bold">-10,00</td>
                                <td></td>
                                <td></td>
                                <td class="text-right font-weight-bold">0,00</td>
                                <td class="text-right text-md p-0">-10,00</td>
                                <td class="text-right">USD</td>
                            </tr>
                            <tr class=" v-middle bg--white">
                                <td class="flex"></td>
                                <td><span class="text-sm"></span></td>
                                <td><span class="text-sm"></span></td>
                                <td></td>
                                <td></td>
                                <td class="text-right font-weight-bold">-10,00</td>
                                <td></td>
                                <td></td>
                                <td class="text-right font-weight-bold">0,00</td>
                                <td class="text-right text-md p-0">-10,00</td>
                                <td class="text-right">EUR</td>
                            </tr>
                        </tfoot>




                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    @if (Model.Result != null) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}