<div class="dropdown">
    <button class="btn btn-primary btn-uppercase dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i data-feather="plus-square"></i> &nbsp; Kasa Nakit İşlemleri Ekle
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:250px !important;">
        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse">Tahsilatlar (+)</h6>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddCashCollect">01 Kasa Tahsilatı</a>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddTicketSale">02 Bilet Satışı</a>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddExchange">03 Döviz Satışı</a>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddCashOpen">04 Kasa Açılış Fişi</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse">Ödemeler (-)</h6>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddCashPayment">01 Kasa Ödemesi</a>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddTicketSaleReturn">02 Bilet Satış İadesi</a>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddCashExpense">03 Masraf Ödeme Fişi</a>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddCashCollect">04 Havale / EFT İşlemi</a>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddCashCollect">05 Maaş Avans Ödemesi</a>
    </div>
</div>
