@model ScheduleControlModel
@{
    ViewBag.Title = "Takvim";
    ViewBag.PageTitle = $"{DateTime.Now.ToLongDateString()} &nbsp; &nbsp; <span class='font-weight-bold'> Schedule </span>";
}

<div class="flex fixed-content">

    <div class="flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-3">
                <div class="toolbar">
                    <a href="/" class="btn btn-md btn-white" title="Önceki Gün">
                        <i class="text-info font-weight-bold" data-feather="chevron-left"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Bu gün">
                        <i class="text-info font-weight-bold" data-feather="target"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Sonraki Gün">
                        <i class="text-info font-weight-bold" data-feather="chevron-right"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Takvim">
                        <i class="text-info font-weight-bold" data-feather="calendar"></i>
                    </a>


                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-sm btn-block btn-white">
                        <span class="font-weight-bold">@(DateTime.Now.ToLongDateString())</span>
                    </a>

                </div>
            </div>


         
            <div class="scroll-y mx-3 mb-3 card">
                <div class="table-responsive">


                   

                    <table class="table table-theme table-hover table-row v-middle" style="border-spacing: 0 1px !important; padding: 0.5rem !important;">

                        <thead>

                            <tr class="table-light text-sm font-weight-bold">
                                <td></td>
                                <td colspan="3" class="text-center">Takvim</td>
                                <td colspan="3" class="text-center">Mesai</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>10:00</b></td>
                                <td class="bg-primary-lt text-center text-dark"><b>22:00</b></td>
                                <td class="bg-primary-lt text-center font-weight-bold">12:00</td>
                                <td class="bg-warning-lt text-center text-dark"><b>10:00</b></td>
                                <td class="bg-warning-lt text-center text-dark"><b>22:00</b></td>
                                <td class="bg-secondary-lt text-center font-weight-bold">12:00</td>
                                <td class="text-center"><i class="text-info font-weight-bold" data-feather="coffee"></i></td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>10:00</b></td>
                                <td class="bg-primary-lt text-center text-dark"><b>22:00</b></td>
                                <td class="bg-primary-lt text-center font-weight-bold">12:00</td>
                                <td class="bg-warning-lt text-center text-dark"><b>10:00</b></td>
                                <td class="bg-warning-lt text-center text-dark"><b>22:00</b></td>
                                <td class="bg-secondary-lt text-center font-weight-bold">12:00</td>
                                <td class="text-center"><i class="text-info font-weight-bold" data-feather="coffee"></i></td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>10:00</b></td>
                                <td class="bg-primary-lt text-center text-dark"><b>22:00</b></td>
                                <td class="bg-primary-lt text-center font-weight-bold">12:00</td>
                                <td class="bg-warning-lt text-center text-dark"><b>10:00</b></td>
                                <td class="bg-warning-lt text-center text-dark"><b>22:00</b></td>
                                <td class="bg-secondary-lt text-center font-weight-bold">12:00</td>
                                <td class="text-center bg-warning"><i class=" font-weight-bold" data-feather="coffee"></i></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-center">
                                <td></td>
                                <td colspan="3" class="bg-primary text-sm-center">10:00 - 22:00</td>
                                <td colspan="2" class="bg-warning text-sm-center">09:59 - 22:05</td>
                                <td class="bg-secondary text-md">12:06</td>
                                <td></td>
                            </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
            </div>

        </div>

@section scripts {
    @if (Model.Result != null) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}