<div class="dropdown">
    <button class="btn btn-primary btn-uppercase dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i data-feather="plus-square"></i> &nbsp; Çalışan Cari İşlemleri
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:250px !important;">
        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse">Tahsilatlar (+)</h6>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddSalaryEarn">01 Ücret Hakediş</a>
        <a class="dropdown-item off-canvas-menu" href="#OffCanvasAddSalaryPayment">02 Maaş Avans Ödemesi</a>
        <a class="dropdown-item off-canvas-menu" href="#">03 Cari Hesap Ekstresi</a>
    </div>
</div>
