@model SalaryControlModel
@using (Ajax.BeginForm("SaveSalaryUnit", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "SalaryUnitList", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()

    <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="mg-b-0">@(Model.CurrentEmployee?.FullName) <input id="EmployeeID" name="EmployeeID" value="@(Model.CurrentEmployee?.EmployeeID)" type="hidden" /></h6>
    </div>
    <div class="card-body pd-0">
        
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Tarih</label>
                    <input id="DateStart" name="DateStart" type="text" class="form-control" placeholder="Tarih"  required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword4">Saatlik Ücret</label>
                    <input id="Hourly" name="Hourly" type="text" class="form-control"  placeholder="Saatlik Ücret" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword4">Mesai Ücret</label>
                    <input id="HourlyExtend" name="HourlyExtend" type="text" class="form-control"  placeholder="Mesai Ücret" required>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputPassword4">Oran</label>
                    <input id="ExtendMultiplyRate" name="ExtendMultiplyRate" type="text" class="form-control"  placeholder="Oran" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPassword4">&nbsp;</label>
                    <input id="SaveSalaryUnit" type="submit" class="btn btn-primary btn-block" value="Ücret Kaydet" />
                </div>
            </div>
    </div>
    <div class="card-footer text-center tx-13">
    </div>
}

<div id="SalaryUnitList">
    @{Html.RenderPartial("_PartialEmployeeSalaryList", Model); }
</div>

<script>
        $(function () {
            'use strict'

            $('#DateStart').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

        });
</script>