@model SalaryControlModel
@using (Html.BeginForm("getUnit", "Salary", FormMethod.Post))
{
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-3 col-form-label">Saatlik Ücret</label>
        <div class="col-sm-9">
            <input id="UnitPrice" name="UnitPrice" type="text" class="form-control" value="@Model.EmployeeHour.Hourly" placeholder="Birim Fiyat" readonly required>

        </div>
    </div>
}
