<div class="card ht-100p">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="mg-b-0">Gün Sonu Toplamı</h6>
        <div class="d-flex tx-18">
            <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
            <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Kasa</th>
                    <th>Tahsilat</th>
                    <th>Ödeme</th>
                    <th>Bakiye</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kasa TRL</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>₺</td>
                </tr>
                <tr>
                    <td>Kasa USD</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>$</td>
                </tr>
                <tr>
                    <td>Kasa EUR</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>0,00</td>
                    <td>€</td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="card-footer text-center tx-13">
        <a href="" class="link-03">View All Transactions <i class="icon ion-md-arrow-down mg-l-5"></i></a>
    </div><!-- card-footer -->
</div>

@if (Model.Result != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}