@model RevenueComputeFilterModel

@{
    ViewBag.Title = "Compute";
}

<h2>LocationID : @Model.LocationID</h2>
<h2>Week Year : @Model.WeekYear</h2>
<h2>Week Number : @Model.WeekNumber</h2>
<h2>Week Number Begin : @Model.WeekNumberBegin</h2>



