@model DefaultControlModel
@{
    ViewBag.Title = "Index";
}


<div class="d-flex flex fixed-content">

    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-3">
                <div class="toolbar">
                    <a href="app.user.html" class="btn btn-md btn-white">
                        <i data-feather="list"></i>
                    </a>
                    <a href="#" class="btn btn-md btn-white">
                        Sipariş No &nbsp;&nbsp;&nbsp;  <span class="font-weight-bold">293877</span>
                    </a>
                    
                    @*<button class="btn btn-md ml-auto">
                            <i data-feather="edit-2"></i>
                        </button>*@
                    <button data-toggle="modal" data-target="#content-aside" data-modal class="btn btn-md ml-auto btn-white">
                        <i data-feather="download"></i> &nbsp;&nbsp;&nbsp; Bilet Ekle
                    </button>
                </div>
            </div>
            <div class="scroll-y mx-3 mb-3 card">

                <div class="row no-gutters">
                    <div class="col-md-6 b-r bg-body">
                        <div class="p-2">
                            <h6>Biletler</h6>
                            <div class="row row-xs">
                                <div class="col-sm-6">
                                    <div class="card mb-2">
                                        <div class="media media-2x1 gd-primary">
                                            <a href="#" class="media-content" style="background-image:url()">
                                                <h4 class="text-fade text-white">3 Dk</h4>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">20,00 ₺</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card mb-2">
                                        <div class="media media-2x1 gd-primary">
                                            <a class="media-content" style="background-image:url()">
                                                <h4 class="text-fade text-white">5 Dk</h4>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">30,00 ₺</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card mb-2">
                                        <div class="media media-2x1 gd-primary">
                                            <a class="media-content" style="background-image:url()">
                                                <strong class="text-fade">7 Dk</strong>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">40,00 ₺</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card mb-2">
                                        <div class="media media-2x1 gd-warning">
                                            <a class="media-content" style="background-image:url()">
                                                <strong class="text-fade">3 Dk</strong>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">20,00 ₺</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card mb-2">
                                        <div class="media media-2x1 gd-danger">
                                            <a class="media-content" style="background-image:url()">
                                                <strong class="text-fade">3 Dk</strong>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">20,00 ₺</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bg-body">
                        <div class="p-2">
                            <h6>Sepet</h6>
                            <div class="table-responsive">
                                <table class="table table-theme table-row v-middle">
                                    
                                    <tbody>
                                        <tr class=" v-middle" data-id="15">
                                           
                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">1</a>
                                                <div class="item-except text-muted text-sm h-1x font-weight-100">Normal Bilet</div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">3 Dk</span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    20,00 ₺
                                                </span>
                                            </td>
                                            <td>
                                                <div class="item-action dropdown b-l text-center">
                                                    <a href="#" data-toggle="dropdown" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="#">See detail</a>
                                                        <a class="dropdown-item download">Download</a>
                                                        <a class="dropdown-item edit">Edit</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item trash">Delete item</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class=" v-middle" data-id="15">

                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">2</a>
                                                <div class="item-except text-muted text-sm h-1x font-weight-100">Normal Bilet</div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">
                                                    5 Dk
                                                </span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    30,00 ₺
                                                </span>
                                            </td>
                                            <td>
                                                <div class="item-action dropdown b-l text-center">
                                                    <a href="#" data-toggle="dropdown" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="#">See detail</a>
                                                        <a class="dropdown-item download">Download</a>
                                                        <a class="dropdown-item edit">Edit</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item trash">Delete item</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class=" v-middle" data-id="15">

                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">3</a>
                                                <div class="item-except text-muted text-sm h-1x font-weight-100">
                                                    Normal Bilet
                                                </div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">
                                                    7 Dk
                                                </span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    40,00 ₺
                                                </span>
                                            </td>
                                            <td>
                                                <div class="item-action dropdown b-l text-center">
                                                    <a href="#" data-toggle="dropdown" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="#">See detail</a>
                                                        <a class="dropdown-item download">Download</a>
                                                        <a class="dropdown-item edit">Edit</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item trash">Delete item</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class=" v-middle" data-id="15">

                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">1</a>
                                                <div class="item-except text-muted text-sm text-warning h-1x font-weight-100">
                                                    Promosyon Bilet
                                                </div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">
                                                    12 Dk
                                                </span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    50,00 ₺
                                                </span>
                                            </td>
                                            <td>
                                                <div class="item-action dropdown b-l text-center">
                                                    <a href="#" data-toggle="dropdown" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="#">See detail</a>
                                                        <a class="dropdown-item download">Download</a>
                                                        <a class="dropdown-item edit">Edit</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item trash">Delete item</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class=" v-middle" data-id="15">

                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">1</a>
                                                <div class="item-except text-muted text-sm text-danger h-1x font-weight-100">
                                                    Aile Boyu Bilet
                                                </div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">
                                                    10 Dk
                                                </span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    40,00 ₺
                                                </span>
                                            </td>
                                            <td>
                                                <div class="item-action dropdown b-l text-center">
                                                    <a href="#" data-toggle="dropdown" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="#">See detail</a>
                                                        <a class="dropdown-item download">Download</a>
                                                        <a class="dropdown-item edit">Edit</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item trash">Delete item</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 d-sm-flex no-shrink b-t">
                    <div>
                        <h2 class="text-primary">20,00 ₺</h2>
                        <small class="d-block text-fade">Toplam Tutar</small>
                    </div>
                    <div class="px-sm-4 my-3 my-sm-0 flex">
                        <h2 class="text-danger">10,00 ₺</h2>
                        <small class="d-block text-fade">İndirim</small>

                    </div>
                    <div>
                        <a href="#" class="btn btn-icon btn-rounded">
                            <i data-feather="mail"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-rounded">
                            <i data-feather="more-vertical"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade aside aside-sm" id="content-aside">
        <div class="modal-dialog d-flex flex-column w-md bg-body" id="user-nav">
            <div class="navbar">
                <span class="text-md mx-2">Satış</span>
                <div class="dropdown dropright">
                    <button data-toggle="dropdown" class="btn btn-sm btn-icon no-bg no-shadow">
                        <i data-feather="plus"></i>
                    </button>
                    <div class="dropdown-menu w-lg">
                        <div class="p-3">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="newField" placeholder="Group name" required>
                                <span class="input-group-append">
                                    <button class="btn btn-white no-shadow btn-sm" type="button" id="newBtn">
                                        <i data-feather="check"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable hover">
                <div class="sidenav p-2">
                    <nav class="nav-active-text-primary" data-nav>
                        <ul class="nav">
                            <li>
                                <a href="app.user.html#all">
                                    <span class="nav-text">All</span>
                                    <span class="nav-badge">
                                        <b class="badge badge-sm badge-pill gd-danger">15</b>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="app.user.html#company">
                                    <span class="nav-text">Company</span>
                                    <span class="nav-badge">
                                        <b class="badge badge-sm badge-pill gd-info">3</b>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="app.user.html#personal">
                                    <span class="nav-text">Personal</span>
                                </a>
                            </li>
                            <li>
                                <a href="app.user.html#team">
                                    <span class="nav-text">Team</span>
                                </a>
                            </li>
                            <li class="nav-header hidden-folded mt-2">
                                <span class="d-block pt-1 text-sm text-muted">Tags</span>
                            </li>
                            <li>
                                <a href="app.user.html#client">
                                    <span class="mx-2">
                                        <b class="badge badge-circle sm text-primary"></b>
                                    </span>
                                    <span class="nav-text">Clients</span>
                                </a>
                            </li>
                            <li>
                                <a href="app.user.html#supplier">
                                    <span class="mx-2">
                                        <b class="badge badge-circle sm text-info"></b>
                                    </span>
                                    <span class="nav-text">Suppliers</span>
                                </a>
                            </li>
                            <li>
                                <a href="app.user.html#competitor">
                                    <span class="mx-2">
                                        <b class="badge badge-circle sm text-success"></b>
                                    </span>
                                    <span class="nav-text">Competitors</span>
                                </a>
                            </li>
                            <li>
                                <a href="app.user.html#corp">
                                    <span class="mx-2">
                                        <b class="badge badge-circle sm text-warning"></b>
                                    </span>
                                    <span class="nav-text">Corps</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</div>

@section scripts {
    @if (Model.Result != null) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}
