@model DefaultControlModel
@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = $"{DateTime.Now.ToLongDateString()} &nbsp; &nbsp; <span class='font-weight-bold'> {Model.Authentication?.CurrentLocation?.FullName?.ToUpper()} </span>";

}


<div class="d-flex flex fixed-content">

    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-3">
                <div class="toolbar">
                    <a href="/" class="btn btn-md btn-white" title="Yeni Satış">
                        <i class="text-primary font-weight-bold" data-feather="plus"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white">
                        <i class="text-primary font-weight-bold" data-feather="list"></i>
                    </a>
                    <a href="#" class="btn btn-md btn-white">
                        Sipariş No &nbsp;&nbsp;&nbsp;  <span class="font-weight-bold">S190928637052321977501857</span>
                    </a>
                    
                    <button data-toggle="modal" data-target="#content-aside" data-modal class="btn btn-md ml-auto btn-white">
                        <i data-feather="download"></i> &nbsp;&nbsp;&nbsp; Bilet Ekle
                    </button>
                </div>
            </div>
            <div class="scroll-y mx-3 mb-3 card">

                <div class="row no-gutters">
                    <div class="col-md-6 b-r bg-light--lt">
                        <div class="p-2">
                            <div class="row row-xs">
                                <div class="col-sm-6">
                                    <div class="card shadow-sm mb-3">
                                        <div class="media media-21x9 gd-primary">
                                            <span>Tramboline 3</span>
                                            <a href="#" class="media-content" style="background-image:url()">
                                                <h3 class="text-fade text-white">3 Dk</h3><br />
                                            </a>

                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">20,00 ₺</h5>
                                            <span class="item-amount d-none d-sm-block text-sm">
                                                Standart bilet
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card shadow-sm mb-3">
                                        <div class="media media-21x9 gd-primary">
                                            <a class="media-content" style="background-image:url()">
                                                <h3 class="text-fade text-white">5 Dk</h3>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">30,00 ₺</h5>
                                            <span class="item-amount d-none d-sm-block text-sm">
                                                Standart bilet
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card shadow-sm mb-3">
                                        <div class="media media-21x9 gd-primary">
                                            <a class="media-content" style="background-image:url()">
                                                <h3 class="text-fade text-white">7 Dk</h3>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">40,00 ₺</h5>
                                            <span class="item-amount d-none d-sm-block text-sm">
                                                Standart bilet
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card shadow-sm mb-3">
                                        <div class="media media-21x9 gd-warning">
                                            <a class="media-content" style="background-image:url()">
                                                <h3 class="text-fade text-white">3 Dk</h3>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">20,00 ₺</h5>
                                            <span class="item-amount d-none d-sm-block text-sm text-warning">
                                                Promosyonlu Bilet
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card shadow-sm mb-3">
                                        <div class="media media-21x9 gd-danger">
                                            <a class="media-content" style="background-image:url()">
                                                <h3 class="text-fade text-white">3 Dk</h3>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">20,00 ₺</h5>
                                            <span class="item-amount d-none d-sm-block text-sm text-danger">
                                                Aile Boyu Bilet
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card shadow-sm mb-3">
                                        <div class="media media-21x9 gd-info">
                                            <a class="media-content" style="background-image:url()">
                                                <h3 class="text-fade text-white">  3 Dk</h3>
                                            </a>
                                        </div>
                                        <div class="p-2 text-center">
                                            <h5 class="card-title mb-0">20,00 ₺</h5>
                                            <span class="item-amount d-none d-sm-block text-sm text-info">
                                                Standart bilet
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bg-light">
                        <div class="p-2">
                            <span class="text-md"> Sepet</span>
                            <span class="mr-2 float-right"><i data-feather="shopping-cart"></i></span>
                            <div class="table-responsive">
                                <table class="table table-theme table-row v-middle">
                                    
                                    <tbody>
                                        <tr class=" v-middle shadow-sm">
                                           
                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">1</a>
                                                <div class="item-except text-muted text-sm h-1x font-weight-100">Normal Bilet</div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">3 Dk</span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    20,00 ₺
                                                </span>
                                            </td>
                                            <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                                <div class="item-action dropdown text-center">
                                                    <a href="#" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class=" v-middle shadow-sm">

                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">2</a>
                                                <div class="item-except text-muted text-sm h-1x font-weight-100">Normal Bilet</div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">
                                                    5 Dk
                                                </span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    30,00 ₺
                                                </span>
                                            </td>
                                            <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                                <div class="item-action dropdown text-center">
                                                    <a href="#" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class=" v-middle shadow-sm">

                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">3</a>
                                                <div class="item-except text-muted text-sm h-1x font-weight-100">
                                                    Normal Bilet
                                                </div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">
                                                    7 Dk
                                                </span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    40,00 ₺
                                                </span>
                                            </td>
                                            <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                                <div class="item-action dropdown text-center">
                                                    <a href="#" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class=" v-middle shadow-sm">

                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">1</a>
                                                <div class="item-except text-muted text-sm text-warning h-1x font-weight-100">
                                                    Promosyon Bilet
                                                </div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">
                                                    12 Dk
                                                </span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    50,00 ₺
                                                </span>
                                            </td>
                                            <td class="bg-warning--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                                <div class="item-action dropdown text-center">
                                                    <a href="#" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class=" v-middle shadow-sm b-t-2x b-t-warning">

                                            <td class="flex">
                                                <a href="#" class="item-title text-color font-weight-bold">1</a>
                                                <div class="item-except text-muted text-sm text-danger h-1x font-weight-100">
                                                     Aile Boyu Bilet
                                                </div>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm ">
                                                    10 Dk
                                                </span>
                                            </td>
                                            <td>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    40,00 ₺
                                                </span>
                                            </td>
                                            <td class="bg-danger--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                                <div class="item-action dropdown text-center">
                                                    <a href="#" class="text-muted"><i data-feather="more-vertical"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade aside aside-sm" id="content-aside">
        <div class="modal-dialog d-flex flex-column w-md bg-body" id="user-nav">
            <div class="navbar">
                <span class="text-md mx-2">  Satış</span>
                <div class="dropdown dropright">
                    <button data-toggle="dropdown" class="btn btn-sm btn-icon no-bg no-shadow">
                        ₺
                    </button>
                    
                </div>
            </div>
            <div class="scrollable hover">
                <div class="sidenav p-2">
                    <div class="table-responsive">
                        <table class="table v-middle">

                            <tbody>
                                <tr class="v-middle">
                                    <td class="flex">
                                        <span class="item-amount text-sm ">Tutar</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-sm float-right">
                                            20,00
                                        </span>
                                    </td>
                                </tr>
                                <tr class=" v-middle">
                                    <td class="flex">
                                        <span class="item-amount text-sm ">İskonto</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-sm float-right">
                                            20,00
                                        </span>
                                    </td>
                                </tr>
                                <tr class=" v-middle">
                                    <td class="flex">
                                        <span class="item-amount text-sm ">Ara Toplam</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-sm float-right">
                                            20,00
                                        </span>
                                    </td>
                                </tr>
                                <tr class="v-middle">
                                    <td class="flex">
                                        <span class="item-amount text-sm ">KDV (18)</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-sm float-right">
                                            20,00
                                        </span>
                                    </td>
                                </tr>
                                <tr class=" v-middle shadow-sm">
                                    <td class="flex">
                                        <span class="item-amount text-md text-primary ">Bakiye</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-md font-weight-bold text-dark float-right">
                                            20,00
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="col-form-label h-25" for="usingnow" style="vertical-align:middle;">Hemen Kullanılacak</label> &nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="ui-switch ui-switch-lg dark" style="vertical-align:middle;">
                                    <input type="checkbox" value="1" id="usingnow" name="usingnow" checked>
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control" placeholder="Adı Soyadı" required>
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control" placeholder="Cep Telefonu">
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control" placeholder="Kimlik Numarası">
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control" placeholder="Detay" required>
                        </div>


                        <div class="mt-2 mb-1">
                            <button class="btn btn-dark btn-block btn-md">Satışı Tamamla</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</div>

@section scripts {
    @if (Model.Result != null) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}
