@model LocationControlModel
@{
    ViewBag.Title = "Lokasyon Düzenleme ";
}
@section style{
    <link href="/lib/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/dashforge.demo.css">
    <link rel="stylesheet" href="/assets/css/dashforge.css">
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}
<div class="content-header">
    <div class="content-search col-lg">
        <span class="tx-20"> @(Model.LocationModel != null ? Model.LocationModel.LocationName + " " + Model.LocationModel.TypeName : "") - Lokasyon Güncelleme</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="profile-sidebar profile-sidebar-two pd-lg-r-15">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg mg-t-20 mg-sm-t-0">
                        <nav class="nav nav-classic tx-13">
                            <a href="/Location/Action" class="nav-link"><i data-feather="layers"></i> Cari Hesap</a>
                            <a href="/Location/Goal" class="nav-link"><i data-feather="target"></i> Hedefler</a>
                            <a href="/Location/Employee" class="nav-link"><i data-feather="users"></i> Çalışanlar</a>
                            <a href="/Location/Contract" class="nav-link"><i data-feather="file"></i> Sözleşmeler</a>
                            <a href="/Location/Period" class="nav-link"><i data-feather="git-commit"></i> Periyotlar</a>
                            <a href="/Location/PosTerminal" class="nav-link"><i data-feather="credit-card"></i> Pos Cihazları</a>
                            <a href="/Location/Schedule" class="nav-link"><i data-feather="calendar"></i> Schedule (Takvim)</a>
                            <a href="/Location/Shift" class="nav-link"><i data-feather="clock"></i> Shift (Mesai)</a>
                            <a href="/Location/Stat" class="nav-link"><i data-feather="check-square"></i> İstatistik</a>
                            <a href="/Location/Part" class="nav-link"><i data-feather="grid"></i> Animals/Trambolines</a>
                            <a href="/Location/Sale" class="nav-link"><i data-feather="dollar-sign"></i> Satışlar</a>
                            <a href="/Location/Cash" class="nav-link"><i data-feather="file-text"></i> Yazar Kasalar</a>
                            <a href="/Location/Result" class="nav-link"><i data-feather="moon"></i> Gün Sonları</a>
                            <a href="/Location/Warehouse" class="nav-link"><i data-feather="truck"></i> Depolar</a>
                            <a href="/Location/Mall" class="nav-link"><i data-feather="shopping-bag"></i> AVM</a>
                            <a href="/Location/Edit/@(Model.LocationModel.LocationUID)" class="nav-link"><i data-feather="edit"></i> Güncelle</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
                @{Html.RenderPartial("_PartialLocationEdit", Model);}
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ourCompany").change(function () {
                var companyID = $("#ourCompany").val();
                $.ajax
                    ({
                        url: '/Location/GetTimezoneList',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            ourCompanyId: companyID
                        }),
                        success: function (data) {
                            
                            var getList = data;

                            $("#timezone").empty();
                            $.each(getList.SelectList, function (index, label) {
                                $("#timezone").append($('<option></option>', { "value": label.Value, "text":label.Text }));
                            });

                            $("#priceCategory").empty();
                            $.each(getList.PriceCategoryList, function (index, label) {
                                $("#priceCategory").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                            });

                            $("#avm").empty();
                            $.each(getList.MallList, function (index, label) {
                                $("#avm").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                            });

                            $("#currency").val(getList.Currency);
                        },
                        error: function () {
                        },
                    });
            });
        });
    </script>
}