@model LocationControlModel
@{
    ViewBag.Title = "Lokasyon Düzenleme ";
}
@section style{
    <link href="/lib/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/dashforge.demo.css">
    <link rel="stylesheet" href="/assets/css/dashforge.css">
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}
<div class="content-header">
    <div class="content-search col-lg">
        <span class="tx-20"> @(Model.LocationModel != null ? Model.LocationModel.LocationName + " " + Model.LocationModel.LocationTypeName : "") - Lokasyon Güncelleme</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="profile-sidebar profile-sidebar-two pd-lg-r-15">
                <div class="row">
                    @{Html.RenderPartial("_PartialLocationInformation", Model);}
                    @{Html.RenderPartial("_PartialLocationSideBar", Model);}
                </div>
            </div>
            <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
                @{Html.RenderPartial("_PartialLocationEdit", Model);}
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ourCompany").change(function () {
                var companyID = $("#ourCompany").val();
                var locationTypeID = $("#locationTypeID").val();
                GetChange(companyID, locationTypeID);
            });
            $("#locationTypeID").change(function () {
                var companyID = $("#ourCompany").val();
                var locationTypeID = $("#locationTypeID").val();
                GetChange(companyID, locationTypeID);
            });
            function GetChange(ourCompany, locationTypeID) {
                var companyID = ourCompany;
                var locationTypeID = locationTypeID;
                $.ajax
                    ({
                        url: '/Location/GetTimezoneList',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            ourCompanyId: companyID,
                            locationTypeId: locationTypeID
                        }),
                        success: function (data) {
                            //TODO: OurCompanyID ye bağlı olarak değişiklik yapıldığı zaman onunla birlikte değişmesi gereken yerler. List<SelectListItem> tipinde olmalıdır.
                            var getList = data;

                            $("#timezone").empty();
                            $.each(getList.SelectList, function (index, label) {
                                $("#timezone").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                            });

                            $("#priceCategory").empty();
                            $.each(getList.PriceCategoryList, function (index, label) {
                                $("#priceCategory").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                            });

                            $("#avm").empty();
                            $.each(getList.MallList, function (index, label) {
                                $("#avm").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                            });

                            $("#bankAccount").empty();
                            $.each(getList.PosList, function (index, label) {
                                $("#bankAccount").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                            });

                            $("#currency").val(getList.Currency);
                        },
                        error: function () {
                        },
                    });
            }
        });
    </script>
}