@model SaleControlModel
@{
    ViewBag.Title = "Satışlar";
    ViewBag.PageTitle = $"{DateTime.Now.ToLongDateString()} &nbsp; &nbsp; <span class='font-weight-bold'> Sales </span>";

}

<div class="d-flex flex fixed-content">

    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-3">
                <div class="toolbar">
                    <a href="/" class="btn btn-md btn-white" title="Önceki Gün">
                        <i class="text-primary font-weight-bold" data-feather="chevron-left"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Bu gün">
                        <i class="text-primary font-weight-bold" data-feather="target"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Sonraki Gün">
                        <i class="text-primary font-weight-bold" data-feather="chevron-right"></i>
                    </a>
                    <a href="/" class="btn btn-md btn-white" title="Takvim">
                        <i class="text-primary font-weight-bold" data-feather="calendar"></i>
                    </a>
                    <a href="#" class="btn btn-md btn-white">
                        <span class="font-weight-bold">@(DateTime.Now.ToLongDateString())</span>
                    </a>
                </div>
            </div>
            <div class="scroll-y mx-3 mb-3 card">
                <div class="table-responsive">
                    <table class="table table-theme table-hover table-row v-middle" style="border-spacing: 0 1px !important; padding: 0.5rem !important;">



                        <thead>
                            <tr class="table-light text-sm font-weight-bold">
                                <td>No</td>
                                <td>Müşteri</td>
                                <td class="text-center">Adet</td>
                                <td class="text-right">Tutar</td>
                                <td>Tür</td>
                                <td class="text-center">Durumu</td>
                                <td class="text-center">POS</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">ST00001</a></td>
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>3</b></td>
                                <td class="bg-primary-lt text-right text-dark"> <b>50,00</b> <span class="text-muted">₺</span></td>
                                <td class="text-center">Nakit</td>
                                <td class="bg-warning-lt text-center text-dark">OK</td>
                                <td class="bg-warning-lt text-center text-dark">Gönderildi</td>
                                <td class="text-center"><i class="text-info font-weight-bold" data-feather="dollar-sign"></i></td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">ST00001</a></td>
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>3</b></td>
                                <td class="bg-primary-lt text-right text-dark"> <b>50,00</b> <span class="text-muted">₺</span></td>
                                <td class="text-center">Nakit</td>
                                <td class="bg-warning-lt text-center text-dark">OK</td>
                                <td class="bg-warning-lt text-center text-dark">Gönderildi</td>
                                <td class="text-center"><i class="text-info font-weight-bold" data-feather="dollar-sign"></i></td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">ST00001</a></td>
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>3</b></td>
                                <td class="bg-primary-lt text-right text-dark"> <b>50,00</b> <span class="text-muted">₺</span></td>
                                <td class="text-center">Nakit</td>
                                <td class="bg-warning-lt text-center text-dark">İptal</td>
                                <td class="bg-warning-lt text-center text-dark">Gönderildi</td>
                                <td class="text-center"><i class="text-info font-weight-bold" data-feather="dollar-sign"></i></td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">ST00001</a></td>
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>3</b></td>
                                <td class="bg-primary-lt text-right text-dark"> <b>50,00</b> <span class="text-muted">₺</span></td>
                                <td class="text-center">Nakit</td>
                                <td class="bg-warning-lt text-center text-dark">İade</td>
                                <td class="bg-warning-lt text-center text-dark">Gönderildi</td>
                                <td class="text-center"><i class="text-info font-weight-bold" data-feather="dollar-sign"></i></td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">ST00001</a></td>
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>3</b></td>
                                <td class="bg-primary-lt text-right text-dark"> <b>50,00</b> <span class="text-muted">₺</span></td>
                                <td class="text-center">Nakit</td>
                                <td class="bg-warning-lt text-center text-dark">OK</td>
                                <td class="bg-warning-lt text-center text-dark">Gönderildi</td>
                                <td class="text-center"><i class="text-info font-weight-bold" data-feather="dollar-sign"></i></td>
                            </tr>
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"><a href="#" class="">ST00001</a></td>
                                <td class="flex"><a href="#" class="">İBRAHİM GÜNDOĞDU</a></td>
                                <td class="bg-primary-lt text-center text-dark"><b>3</b></td>
                                <td class="bg-primary-lt text-right text-dark"> <b>50,00</b> <span class="text-muted">₺</span></td>
                                <td class="text-center">Nakit</td>
                                <td class="bg-warning-lt text-center text-dark">İptal</td>
                                <td class="bg-warning-lt text-center text-dark">Gönderildi</td>
                                <td class="text-center"><i class="text-info font-weight-bold" data-feather="dollar-sign"></i></td>
                            </tr>
                        </tbody>
                        <tfoot class="order-0">
                            <tr class=" v-middle shadow-sm">
                                <td class="flex"></td>
                                <td class="text-center text-dark"></td>
                                <td class="text-center text-dark"></td>
                                <td class="text-right font-weight-bold"><b>1.200,00</b> <span class="text-muted">₺</span></td>
                                <td class="text-center text-dark"></td>
                                <td class="text-center text-dark"></td>
                                <td class="text-sm text-center text-md p-0"></td>
                                <td class="text-center"></td>
                            </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    @if (Model.Result != null) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}